<nz-table #editRowTable nzBordered [nzData]="listOfData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr style="background: linen">
      <th nzWidth="100px" nzAlign="center">年度</th>
      <th nzWidth="95px" nzAlign="center">传统教室(间)</th>
      <th nzWidth="95px" nzAlign="center">计算机教室</th>
      <th nzWidth="95px" nzAlign="center">多媒体<br>教室(间)</th>
      <th nzWidth="95px" nzAlign="center">实验(训)室<br>(含虚拟)(间)</th>
      <th nzWidth="95px" nzAlign="center">联网计算机<br>数(台)</th>
      <th nzWidth="95px" nzAlign="center">局域网<br>带宽(M)</th>
      <th nzWidth="95px" nzAlign="center">互联网接入<br>带宽(M)</th>
      <th nzWidth="95px" nzAlign="center">专用服务器<br>数(台)</th>
      <th nzWidth="95px" nzAlign="center">教(学)员<br>学习室(间)</th>
      <th nzWidth="95px" nzAlign="center">资料室(间)</th>
      <th nzWidth="95px" nzAlign="center">图书馆(个)</th>
      <th nzWidth="95px" nzAlign="center">经费投入(元)</th>
      <th nzWidth="100px" nzAlign="center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzAlign="center">
        {{ data.nd }} 年
      </td>
      <!-- ctjs,jsjjs,dmtjs,sysxs,lwjsjs,jywdk,hlwjrdk,zyfwqs,jyxxs,xxs,zls,tsg,jssbs -->
      <!-- 传统教室（间）,计算机教室,多媒体教室（间）,实验（训）室（含虚拟室）（间）,联网计算机数（台）,局域网带宽(M),互联网接入带宽（M）,专用服务器数（台）,接收设备数（套）,教（学）员学习室（间）,休息室（间）,资料室（间）,图书馆（个） -->
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else ctjsInputTpl">
          {{ data.ctjs }}
        </ng-container>
        <ng-template #ctjsInputTpl>
          <nz-input-number style="max-width: 5em" [(ngModel)]="editCache[data.id].data.ctjs" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else jsjjsInputTpl">
          {{ data.jsjjs }}
        </ng-container>
        <ng-template #jsjjsInputTpl>
          <nz-input-number style="max-width: 5em" [(ngModel)]="editCache[data.id].data.jsjjs" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else dmtjsInputTpl">
          {{ data.dmtjs }}
        </ng-container>
        <ng-template #dmtjsInputTpl>
          <nz-input-number style="max-width: 5em" [(ngModel)]="editCache[data.id].data.dmtjs" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else sysxsInputTpl">
          {{ data.sysxs }}
        </ng-container>
        <ng-template #sysxsInputTpl>
          <nz-input-number style="max-width: 5em" [(ngModel)]="editCache[data.id].data.sysxs" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else lwjsjsInputTpl">
          {{ data.lwjsjs }}
        </ng-container>
        <ng-template #lwjsjsInputTpl>
          <nz-input-number style="max-width: 5em" [(ngModel)]="editCache[data.id].data.lwjsjs" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else jywdkInputTpl">
          {{ data.jywdk }}
        </ng-container>
        <ng-template #jywdkInputTpl>
          <nz-input-number style="max-width: 5em" [(ngModel)]="editCache[data.id].data.jywdk" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else hlwjrdkInputTpl">
          {{ data.hlwjrdk }}
        </ng-container>
        <ng-template #hlwjrdkInputTpl>
          <nz-input-number style="max-width: 5em" [(ngModel)]="editCache[data.id].data.hlwjrdk" [nzMin]="0"
            [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else zyfwqsInputTpl">
          {{ data.zyfwqs }}
        </ng-container>
        <ng-template #zyfwqsInputTpl>
          <nz-input-number style="max-width: 5em" [(ngModel)]="editCache[data.id].data.zyfwqs" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else jyxxsInputTpl">
          {{ data.jyxxs }}
        </ng-container>
        <ng-template #jyxxsInputTpl>
          <nz-input-number style="max-width: 5em" [(ngModel)]="editCache[data.id].data.jyxxs" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else zlsInputTpl">
          {{ data.zls }}
        </ng-container>
        <ng-template #zlsInputTpl>
          <nz-input-number style="max-width: 5em" [(ngModel)]="editCache[data.id].data.zls" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else tsgInputTpl">
          {{ data.tsg }}
        </ng-container>
        <ng-template #tsgInputTpl>
          <nz-input-number style="max-width: 5em" [(ngModel)]="editCache[data.id].data.tsg" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else jftrInputTpl">
          {{ data.jftr }}
        </ng-container>
        <ng-template #jftrInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.jftr" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <div class="editable-row-operations">
          <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">修改</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">保存</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
