<div class="card-container">
  <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab [nzTitle]="titleTemplate">
      <ng-template #titleTemplate><i nz-icon nzType="upload" style="color: coral"></i>材料上传</ng-template>

      <nz-upload [nzAction]="upFileUrl" [nzFileList]="fileList" (nzChange)="fupChange($event)">
        <button nz-button><i nz-icon nzType="upload"></i><span>文字材料上传</span></button>
      </nz-upload>
      <br>
      <span *ngIf="upedFileUrl" nz-tooltip nzTooltipTitle="预览已上传文字材料">
        <button nzSize="small" nz-button nzType="link" down-file [http-url]="upedFileUrl" [file-name]="upedFileName">
          <i nz-icon nzType="search" style="color: coral"></i>已上传文字材料：{{upedFileName}}</button>
      </span>
      <span *ngIf="!upedFileUrl" nz-tooltip nzTooltipTitle="未上传文字材料">
        尚未上传文字材料
      </span>

    </nz-tab>
    <nz-tab [nzTitle]="titleTemplate2">
      <ng-template #titleTemplate2><i nz-icon nzType="profile" style="color: coral"></i>撰写要求</ng-template>
      <p>{{fileRemark}}</p>
    </nz-tab>
  </nz-tabset>
</div>
