<nz-table #editRowTable nzBordered [nzData]="listOfData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr style="background-color: linen;">
      <th nzWidth="100px" nzAlign="center">年度</th>
      <th nzWidth="160px" nzAlign="center" style="font-weight: bold">管理部门名称</th>
      <th nzWidth="160px" nzAlign="center" style="font-weight: bold">管理人员数</th>
      <th nzWidth="160px" nzAlign="center" style="font-weight: bold">专职人员数</th>
      <th nzWidth="160px" nzAlign="center" style="font-weight: bold">专项经费<br>投入（万元）</th>
      <th nzWidth="160px" nzAlign="center" style="font-weight: bold">保障制度</th>
      <th nzWidth="100px" nzAlign="center">操作</th>
    </tr>
  </thead>
  <!-- id,nd,xxdm,xxmc,glbmmc,glryrs,zzryrs,zxjftr,bzzd -->
  <!-- id,年度,学校代码,学校名称,管理部门名称,管理人员数,专职人员数,专项经费投入（万元）,保障制度 -->
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzAlign="center">
        {{ data.nd }} 年
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else glbmmcInputTpl">
          {{ data.glbmmc }}
        </ng-container>
        <ng-template #glbmmcInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.glbmmc">
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else glryrsInputTpl">
          {{ data.glryrs }}
        </ng-container>
        <ng-template #glryrsInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.glryrs" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else zzryrsInputTpl">
          {{ data.zzryrs }}
        </ng-container>
        <ng-template #zzryrsInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.zzryrs" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else zxjftrInputTpl">
          {{ data.zxjftr }}
        </ng-container>
        <ng-template #zxjftrInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.zxjftr" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else bzzdInputTpl">
          {{ data.bzzd }}
        </ng-container>
        <ng-template #bzzdInputTpl>
          <nz-select style="width: 108px;" [(ngModel)]="editCache[data.id].data.bzzd" nzAllowClear nzPlaceHolder="制度有无">
            <nz-option nzValue="有" nzLabel="有"></nz-option>
            <nz-option nzValue="无" nzLabel="无"></nz-option>
          </nz-select>
        </ng-template>
      </td>

      <td nzAlign="center">
        <div class="editable-row-operations">
          <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">修改</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">保存</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认取消吗？" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
