<nz-card  *ngIf="loadUser.user.unitNo==='S01'" nzSize="small">
  <div nz-row>
    <div nz-col nzSpan="8">
      <button nz-button nzType="primary" nzSize="small" (click)="addData()">
        <i nz-icon nzType="plus-circle"></i> 新增 1 行</button>
      <nz-divider nzType="vertical"></nz-divider>
      <button nz-button nzType="danger" nzSize="small" (click)="deleteConfirm()">
        <i nz-icon nzType="delete"></i> 清空本次填报数据</button>
    </div>
    <div nz-col nzSpan="16" style="text-align: right">
      <!-- <button nz-button class="mr-sm" nzType="link" nzSize="small" down-file
        http-url="http://139.224.62.102/assets/zxsj_mb/{{ dataStr.dtNo }}.xlsx" file-name="{{ dataStr.dtName }}.xlsx">
        {{ dataStr.dtName }}模板下载 <i nz-icon nzType="download" style="color:coral"></i>
      </button>
      <nz-upload [nzAction]="upUrl" (nzChange)="fupChange($event)">
        <button nz-button nzSize="small" nzType="primary"><i nz-icon nzType="upload"></i><span>数据导入</span></button>
      </nz-upload> -->
    </div>
  </div>
</nz-card>
<nz-table #editRowTable nzBordered [nzData]="listOfData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr style="background-color: linen;">
      <th nzWidth="8%" nzAlign="center" style="font-weight: bold">年度</th>
      <th nzWidth="8%" nzAlign="center" style="font-weight: bold">姓名</th>
      <th nzWidth="9%" nzAlign="center" style="font-weight: bold">职务</th>
      <th nzWidth="9%" nzAlign="center" style="font-weight: bold">出身年月</th>
      <th nzWidth="8%" nzAlign="center" style="font-weight: bold">学历</th>
      <th nzWidth="13%" nzAlign="center" style="font-weight: bold">职称</th>
      <th nzAlign="center" style="font-weight: bold">分管工作</th>
      <th nzWidth="9%" nzAlign="center" *ngIf="loadUser.user.unitNo==='S01'">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else ndInputTpl">
          {{ data.nd }} 年
        </ng-container>
        <ng-template #ndInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.nd" [nzMin]="0" [nzStep]="1" nzSize="3">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xmInputTpl">
          {{ data.xm }}
        </ng-container>
        <ng-template #xmInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xm" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else zwInputTpl">
          {{ data.zw }}
        </ng-container>
        <ng-template #zwInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.zw" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else birdateInputTpl">
          {{ data.birdate }}
        </ng-container>
        <ng-template #birdateInputTpl>
          <!-- <input type="date" nz-input [(ngModel)]="editCache[data.id].data.birdate" /> -->
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.birdate" placeholder="如196809">
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xlInputTpl">
          {{ data.xl }}
        </ng-container>
        <ng-template #xlInputTpl>
          <nz-select style="width: 110px;" [(ngModel)]="editCache[data.id].data.xl" nzAllowClear nzPlaceHolder="学历">
            <nz-option nzValue="博士研究生" nzLabel="博士研究生"></nz-option>
            <nz-option nzValue="硕士研究生" nzLabel="硕士研究生"></nz-option>
            <nz-option nzValue="本科" nzLabel="本科"></nz-option>
            <nz-option nzValue="专科" nzLabel="专科"></nz-option>
            <nz-option nzValue="中专" nzLabel="中专"></nz-option>
            <nz-option nzValue="其它" nzLabel="其它"></nz-option>
          </nz-select>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else zcInputTpl">
          {{ data.zc }}
        </ng-container>
        <ng-template #zcInputTpl>
          <nz-cascader [nzOptions]="nzOptions" [(ngModel)]="editCache[data.id].data.zc" [nzShowSearch]="true"
            (ngModelChange)="onChanges($event)"></nz-cascader>
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else gzInputTpl">
          {{ data.gz }}
        </ng-container>
        <ng-template #gzInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.gz" />
        </ng-template>
      </td>
      <td nzAlign="center" *ngIf="loadUser.user.unitNo==='S01'">
        <div *ngIf="data.islock === 0" class="editable-row-operations">
          <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">修改</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认删除该条数据?" (nzOnConfirm)="dataDelete(data.id)">删除</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">保存</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认取消?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
