<div class="modal-header">
  <div class="modal-title">指标<span style="color: tomato;font-weight: bold;">【{{ record.name }}】</span>文字材料上传</div>
</div>
<div class="steps-content" [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="2" style="font-size: 16px;font-weight: bold;">文字材料</nz-form-label>
    <nz-form-control [nzSpan]="22">
      <ueditor #full formControlName="remark" [config]="config" (onReady)="_ready($event)" (onDestroy)="_destroy()"
        (ngModelChange)="_change($event)" style="width: 95%;height: 180px;">
      </ueditor>
    </nz-form-control>
  </nz-form-item>

  <nz-upload nzType="drag" [nzMultiple]="true" nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
    (nzChange)="handleChange($event)">
    <p class="ant-upload-drag-icon"><i nz-icon nzType="inbox"></i></p>
    <p class="ant-upload-text">点击或拖拽文件到本区域以完成上传</p>
    <p class="ant-upload-hint">上传考试管理规范等文件</p>
  </nz-upload>

</div>

<div class="modal-footer" style="text-align: right;">
  <button nz-button type="button" (click)="close()">关闭</button>
  <button nz-button nzType="primary"><span>保存</span>
  </button>
</div>
