<nz-card nzSize="small">
  <div nz-row>
    <div nz-col nzSpan="8">
      <button nz-button nzType="primary" nzSize="small" (click)="addData()">
        <i nz-icon nzType="plus-circle"></i> 新增 1 行</button>
      <nz-divider nzType="vertical"></nz-divider>
      <button nz-button nzType="danger" nzSize="small" (click)="deleteConfirm()">
        <i nz-icon nzType="delete"></i> 清空本次填报数据</button>
    </div>
    <div nz-col nzSpan="16" style="text-align: right">
      <button nz-button class="mr-sm" nzType="link" nzSize="small" down-file
        http-url="http://139.224.62.102/assets/zxsj_mb/{{ dataStr.dtNo }}.xlsx" file-name="{{ dataStr.dtName }}.xlsx">
        {{ dataStr.dtName }}模板下载 <i nz-icon nzType="download" style="color:coral"></i>
      </button>
      <nz-upload [nzAction]="upUrl" (nzChange)="fupChange($event)">
        <button nz-button nzSize="small" nzType="primary"><i nz-icon nzType="upload"></i><span>数据导入</span></button>
      </nz-upload>
    </div>
  </div>
</nz-card>
<nz-table #editRowTable nzBordered [nzData]="listOfData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr style="background-color: linen">
      <th rowspan="2" nzWidth="8%" nzAlign="center">年度</th>
      <th rowspan="2" nzWidth="8%" nzAlign="center">学期</th>
      <th rowspan="2" nzWidth="9%" nzAlign="center">分校/学院代码</th>
      <th rowspan="2" nzAlign="center">分校/学院名称</th>
      <th colspan="2" nzAlign="center"><b>当学期招生数</b></th>
      <th colspan="2" nzAlign="center"><b>在籍学生数</b></th>
      <th colspan="2" nzAlign="center"><b>在籍续修生数</b></th>
      <th rowspan="2" nzWidth="9%" nzAlign="center">操作</th>
    </tr>
    <tr style="background-color: linen">
      <th nzAlign="center" nzWidth="9%"><b>本科</b></th>
      <th nzAlign="center" nzWidth="9%"><b>专科</b></th>
      <th nzAlign="center" nzWidth="9%"><b>本科</b></th>
      <th nzAlign="center" nzWidth="9%"><b>专科</b></th>
      <th nzAlign="center" nzWidth="9%"><b>本科</b></th>
      <th nzAlign="center" nzWidth="9%"><b>专科</b></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else ndInputTpl">
          {{ data.nd }} 年
        </ng-container>
        <ng-template #ndInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.nd" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xqInputTpl">
          {{ data.xq }}
        </ng-container>
        <ng-template #xqInputTpl>
          <nz-select style="width: 80px;" [(ngModel)]="editCache[data.id].data.xq" nzAllowClear nzPlaceHolder="学期">
            <nz-option nzValue="春" nzLabel="春"></nz-option>
            <nz-option nzValue="秋" nzLabel="秋"></nz-option>
          </nz-select>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xxdmInputTpl">
          {{ data.xxdm }}
        </ng-container>
        <ng-template #xxdmInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xxdm" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xxmcInputTpl">
          {{ data.xxmc }}
        </ng-container>
        <ng-template #xxmcInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xxmc" />
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else dndzssbkInputTpl">
          {{ data.dndzssbk }}
        </ng-container>
        <ng-template #dndzssbkInputTpl>
          <nz-input-number style="max-width: 7em" [(ngModel)]="editCache[data.id].data.dndzssbk" [nzMin]="0"
            [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else dndzsszkInputTpl">
          {{ data.dndzsszk }}
        </ng-container>
        <ng-template #dndzsszkInputTpl>
          <nz-input-number style="max-width: 7em" [(ngModel)]="editCache[data.id].data.dndzsszk" [nzMin]="0"
            [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else zjxssbkInputTpl">
          {{ data.zjxssbk }}
        </ng-container>
        <ng-template #zjxssbkInputTpl>
          <nz-input-number style="max-width: 7em" [(ngModel)]="editCache[data.id].data.zjxssbk" [nzMin]="0"
            [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else zjxsszkInputTpl">
          {{ data.zjxsszk }}
        </ng-container>
        <ng-template #zjxsszkInputTpl>
          <nz-input-number style="max-width: 7em" [(ngModel)]="editCache[data.id].data.zjxsszk" [nzMin]="0"
            [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xxsbkInputTpl">
          {{ data.xxsbk }}
        </ng-container>
        <ng-template #xxsbkInputTpl>
          <nz-input-number style="max-width: 7em" [(ngModel)]="editCache[data.id].data.xxsbk" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xxszkInputTpl">
          {{ data.xxszk }}
        </ng-container>
        <ng-template #xxszkInputTpl>
          <nz-input-number style="max-width: 7em" [(ngModel)]="editCache[data.id].data.xxszk" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <div class="editable-row-operations">
          <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">修改</a>
            <nz-divider nzType="vertical"></nz-divider>
            <!-- <a (click)="dataDelete(data.id)">删除</a> -->
            <a nz-popconfirm nzTitle="确认删除该条数据?" (nzOnConfirm)="dataDelete(data.id)">删除</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">保存</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认取消?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
