<nz-card nzSize="small">
  <div nz-row>
    <div nz-col nzSpan="8">
      <button nz-button nzType="primary" nzSize="small" (click)="addData()">
        <i nz-icon nzType="plus-circle"></i> 新增 1 行</button>
      <nz-divider nzType="vertical"></nz-divider>
      <button nz-button nzType="danger" nzSize="small" (click)="deleteConfirm()">
        <i nz-icon nzType="delete"></i> 清空全部数据</button>
    </div>
    <div nz-col nzSpan="16" style="text-align: right">
      <button nz-button class="mr-sm" nzType="link" nzSize="small" down-file
        http-url="http://139.224.62.102/assets/zxsj_mb/{{ dataStr.dtNo }}.xlsx" file-name="{{ dataStr.dtName }}.xlsx">
        {{ dataStr.dtName }}模板下载 <i nz-icon nzType="download" style="color:coral"></i>
      </button>
      <nz-upload [nzAction]="upUrl" (nzChange)="fupChange($event)">
        <button nz-button nzSize="small" nzType="primary"><i nz-icon nzType="upload"></i><span>数据导入</span></button>
      </nz-upload>
    </div>
  </div>
</nz-card>
<nz-table #editRowTable nzBordered [nzData]="listOfData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr style="background-color: linen;">
      <th rowspan="2" nzWidth="80px" nzAlign="center">年度</th>
      <th rowspan="2" nzWidth="80px" nzAlign="center">学期</th>
      <th rowspan="2" nzWidth="100px" nzAlign="center">学校代码</th>
      <th rowspan="2" nzAlign="center">分校/学院名称</th>
      <th colspan="7" nzAlign="center"><b>学习平台使用情况</b></th>
      <th nzAlign="center"><b>公共网站使用情况</b></th>
      <th rowspan="2" nzAlign="center">Action</th>
    </tr>
    <tr style="background-color: linen">
      <th nzAlign="center" nzWidth="130px">上线学生人数</th>
      <th nzAlign="center" nzWidth="130px">上线教师人数</th>
      <th nzAlign="center" nzWidth="130px">学生在线总时长</th>
      <th nzAlign="center" nzWidth="130px">教师在线总时长</th>
      <th nzAlign="center" nzWidth="130px">学生访问总数</th>
      <th nzAlign="center" nzWidth="130px">学生发帖总数</th>
      <th nzAlign="center" nzWidth="130px">教师发帖总数</th>
      <th nzAlign="center" nzWidth="150px">总访问量</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else ndInputTpl">
          {{ data.nd }} 年
        </ng-container>
        <ng-template #ndInputTpl>
          <input type="text" style="width: 70px;" nz-input [(ngModel)]="editCache[data.id].data.nd" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xqInputTpl">
          {{ data.xq }}
        </ng-container>
        <ng-template #xqInputTpl>
          <!-- <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xq" /> -->
          <nz-select style="width: 60px;" [(ngModel)]="editCache[data.id].data.xq" nzAllowClear nzPlaceHolder="学期">
            <nz-option nzValue="春" nzLabel="春"></nz-option>
            <nz-option nzValue="秋" nzLabel="秋"></nz-option>
          </nz-select>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xxdmInputTpl">
          {{ data.xxdm }}
        </ng-container>
        <ng-template #xxdmInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xxdm" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xxmcInputTpl">
          {{ data.xxmc }}
        </ng-container>
        <ng-template #xxmcInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xxmc" />
        </ng-template>
      </td>
      <!-- id,nd,xxdm,xxmc,sxxss,sxjss,xszxzsc,jszxzsc,xsfwzs,xsftzs,jsftzs,gg_wzfwl -->
      <!-- id,年度,学校代码,学校名称,上线学生人数,上线教师人数,学生在线总时长,教师在线总时长,学生访问总数,学生发帖总数,教师发帖总数,公共网站总访问量 -->
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else sxxssInputTpl">
          {{ data.sxxss }}
        </ng-container>
        <ng-template #sxxssInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.sxxss" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else sxjssInputTpl">
          {{ data.sxjss }}
        </ng-container>
        <ng-template #sxjssInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.sxjss" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xszxzscInputTpl">
          {{ data.xszxzsc }}
        </ng-container>
        <ng-template #xszxzscInputTpl>
          <nz-input-number style="width: 8em;" [(ngModel)]="editCache[data.id].data.xszxzsc" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else jszxzscInputTpl">
          {{ data.jszxzsc }}
        </ng-container>
        <ng-template #jszxzscInputTpl>
          <nz-input-number style="width: 8em;" [(ngModel)]="editCache[data.id].data.jszxzsc" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xsfwzsInputTpl">
          {{ data.xsfwzs }}
        </ng-container>
        <ng-template #xsfwzsInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.xsfwzs" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xsftzsInputTpl">
          {{ data.xsftzs }}
        </ng-container>
        <ng-template #xsftzsInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.xsftzs" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else jsftzsInputTpl">
          {{ data.jsftzs }}
        </ng-container>
        <ng-template #jsftzsInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.jsftzs" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else gg_wzfwlInputTpl">
          {{ data.gg_wzfwl }}
        </ng-container>
        <ng-template #gg_wzfwlInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.gg_wzfwl" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <div *ngIf="data.islock === 0" class="editable-row-operations">
          <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">修改</a>
            <nz-divider nzType="vertical"></nz-divider>
            <!-- <a (click)="dataDelete(data.id)">删除</a> -->
            <a nz-popconfirm nzTitle="确认删除该条数据?" (nzOnConfirm)="dataDelete(data.id)">删除</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">保存</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认取消?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
