<nz-table #editRowTable nzBordered [nzData]="listOfData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr style="background-color: linen">
      <th rowspan="2" nzWidth="6%" nzAlign="center">年度</th>
      <th colspan="5" nzAlign="center" style="font-weight: bold;">学历教育</th>
      <th colspan="2" nzAlign="center" style="font-weight: bold;background-color: rgb(208, 238, 247)">非学历教育</th>
      <th colspan="4" nzAlign="center" style="font-weight: bold;">社区教育</th>
      <th rowspan="2" nzAlign="center">Action</th>
    </tr>
    <tr style="background-color: linen">
      <th nzAlign="center" nzWidth="8%">高等学历教育<br>在籍生规模<br>（万人）</th>
      <th nzalign="center" nzWidth="8%">高等学历教育<br>注册生规模<br>（万人）</th>
      <th nzalign="center">单科生注册<br>规模（万人）</th>
      <th nzalign="center">在线课程资<br>源建设规模<br>（门）</th>
      <th nzAlign="center">中等学历教育<br>在校生规模<br>（万人）</th>
      <th nzAlign="center" style="background-color: rgb(208, 238, 247)">非学历教育<br>服务规模<br>（万人）</th>
      <th nzAlign="center" style="background-color: rgb(208, 238, 247)">国际培训证书<br>引进个数</th>
      <th nzAlign="center">社区教育<br>服务规模<br>（万人次/年）</th>
      <th nzalign="center">社区教育<br>志愿者规模<br>（万人）</th>
      <th nzalign="center">上海学习网<br>注册用户<br>（万人）</th>
      <th nzAlign="center">上海终身教育<br>学分银行开户<br>数（万个）</th>
    </tr>
  </thead>
  <!-- id,nd,xxdm,xxmc,xl_gd_zjsgm,xl_gd_zcsgm,xl_dk_zcsgm,xl_zxkc_jsgm,xl_zd_zxsgm,fxl_fw_gm,fxl_gjzs_yj,sq_fw_gm,sq_zyz_gm,sq_xxw_zcyh,sq_xfyh_khs	 -->
  <!-- id,年度,学校代码,学校名称,高等学历教育在籍生规模（万人）,高等学历教育注册生规模（万人）,单科注册生规模（万人次）,在线课程资源建设规模,中等学历教育在校生规模（人）,非学历教育服务规模（万人次）,国际培训证书引进（个）,社区教育服务规模（万人次/年）,社区教育志愿者规模（万人）,上海学习网注册用户（万人）,上海终身教育学分银行开户数（万个） -->

  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzAlign="center">
        {{ data.nd }} 年
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xl_gd_zjsgmInputTpl">
          {{ data.xl_gd_zjsgm }}
        </ng-container>
        <ng-template #xl_gd_zjsgmInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xl_gd_zjsgm" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xl_gd_zcsgmInputTpl">
          {{ data.xl_gd_zcsgm }}
        </ng-container>
        <ng-template #xl_gd_zcsgmInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xl_gd_zcsgm" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xl_dk_zcsgmInputTpl">
          {{ data.xl_dk_zcsgm }}
        </ng-container>
        <ng-template #xl_dk_zcsgmInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xl_dk_zcsgm" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xl_zxkc_jsgmInputTpl">
          {{ data.xl_zxkc_jsgm }}
        </ng-container>
        <ng-template #xl_zxkc_jsgmInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xl_zxkc_jsgm" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xl_zd_zxsgmInputTpl">
          {{ data.xl_zd_zxsgm }}
        </ng-container>
        <ng-template #xl_zd_zxsgmInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xl_zd_zxsgm" />
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else fxl_fw_gmInputTpl">
          {{ data.fxl_fw_gm }}
        </ng-container>
        <ng-template #fxl_fw_gmInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.fxl_fw_gm" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else fxl_gjzs_yjInputTpl">
          {{ data.fxl_gjzs_yj }}
        </ng-container>
        <ng-template #fxl_gjzs_yjInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.fxl_gjzs_yj" />
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else sq_fw_gmInputTpl">
          {{ data.sq_fw_gm }}
        </ng-container>
        <ng-template #sq_fw_gmInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.sq_fw_gm" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else sq_zyz_gmInputTpl">
          {{ data.sq_zyz_gm }}
        </ng-container>
        <ng-template #sq_zyz_gmInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.sq_zyz_gm" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else sq_xxw_zcyhInputTpl">
          {{ data.sq_xxw_zcyh }}
        </ng-container>
        <ng-template #sq_xxw_zcyhInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.sq_xxw_zcyh" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else sq_xfyh_khsInputTpl">
          {{ data.sq_xfyh_khs }}
        </ng-container>
        <ng-template #sq_xfyh_khsInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.sq_xfyh_khs" />
        </ng-template>
      </td>

      <td nzAlign="center">
        <div class="editable-row-operations">
          <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">修改</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">保存</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
