<nz-card nzSize="small">
  <div nz-row>
    <div nz-col nzSpan="8">
      <button nz-button nzType="primary" nzSize="small" (click)="addData()">
        <i nz-icon nzType="plus-circle"></i> 新增 1 行</button>
      <nz-divider nzType="vertical"></nz-divider>
      <button nz-button nzType="danger" nzSize="small" (click)="deleteConfirm()">
        <i nz-icon nzType="delete"></i> 清空本次填报数据</button>
    </div>
    <div nz-col nzSpan="16" style="text-align: right">
      <button nz-button class="mr-sm" nzType="link" nzSize="small" down-file
        http-url="http://139.224.62.102/assets/zxsj_mb/{{ dataStr.dtNo }}.xlsx" file-name="{{ dataStr.dtName }}.xlsx">
        {{ dataStr.dtName }}模板下载 <i nz-icon nzType="download" style="color:coral"></i>
      </button>
      <nz-upload [nzAction]="upUrl" (nzChange)="fupChange($event)">
        <button nz-button nzSize="small" nzType="primary"><i nz-icon nzType="upload"></i><span>数据导入</span></button>
      </nz-upload>
    </div>
  </div>
</nz-card>
<nz-table #editRowTable nzBordered [nzData]="listOfData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr style="background-color: linen">
      <th nzWidth="7%" nzAlign="center">年度</th>
      <th nzWidth="8%" nzAlign="center"><b>专业类别</b></th>
      <th nzAlign="center"><b>专业名称</b></th>
      <th nzWidth="8%" nzAlign="center"><b>专业方向</b></th>
      <th nzWidth="8%" nzAlign="center"><b>专业代码</b></th>
      <th nzWidth="9%" nzAlign="center"><b>层次</b></th>
      <th nzWidth="9%" nzAlign="center"><b>学制</b></th>
      <th nzWidth="9%" nzAlign="center"><b>最低修业年限</b></th>
      <th nzWidth="10%" nzAlign="center"><b>状态</b></th>
      <th nzWidth="9%" nzAlign="center">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else ndInputTpl">
          {{ data.nd }} 年
        </ng-container>
        <ng-template #ndInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.nd" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else lbInputTpl">
          {{ data.lb }}
        </ng-container>
        <ng-template #lbInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.lb" />
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else zymcInputTpl">
          {{ data.zymc }}
        </ng-container>
        <ng-template #zymcInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.zymc" />
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else zyfxInputTpl">
          {{ data.zyfx }}
        </ng-container>
        <ng-template #zyfxInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.zyfx" />
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else zydmInputTpl">
          {{ data.zydm }}
        </ng-container>
        <ng-template #zydmInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.zydm" />
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else ccInputTpl">
          {{ data.cc }}
        </ng-container>
        <ng-template #ccInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.cc">
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xzInputTpl">
          {{ data.xz }}
        </ng-container>
        <ng-template #xzInputTpl>
          <nz-input-number style="width: 6em;" [(ngModel)]="editCache[data.id].data.xz" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else minxzInputTpl">
          {{ data.minxz }}
        </ng-container>
        <ng-template #minxzInputTpl>
          <nz-input-number style="width: 6em;" [(ngModel)]="editCache[data.id].data.minxz" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else bjztInputTpl">
          {{ data.bjzt }}
        </ng-container>
        <ng-template #bjztInputTpl>
          <nz-select style="width: 120px;" [(ngModel)]="editCache[data.id].data.bjzt" nzAllowClear nzPlaceHolder="状态">
            <nz-option nzValue="开设" nzLabel="开设"></nz-option>
            <nz-option nzValue="新开" nzLabel="新开"></nz-option>
            <nz-option nzValue="调整" nzLabel="调整"></nz-option>
            <nz-option nzValue="关停" nzLabel="关停"></nz-option>
          </nz-select>
        </ng-template>
      </td>

      <td nzAlign="center">
        <div *ngIf="data.islock === 0" class="editable-row-operations">
          <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">修改</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认删除该条数据?" (nzOnConfirm)="dataDelete(data.id)">删除</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">保存</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认取消?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
