<page-header [action]="phActionTpl">
  <ng-template #phActionTpl> </ng-template>
</page-header>

<nz-card>
  <nz-table #nzTable nzSize="middle" [nzData]="listOfData" nzPageSize="5">
    <thead>
      <tr>
        <th nzAlign="center">评估过程管理及进度监控</th>
        <th nzWidth="32%">评估工作</th>
        <th nzWidth="10%" nzAlign="center">起讫时间</th>
        <th nzWidth="10%" nzAlign="center">评估周期</th>
        <th nzWidth="32%" nzAlign="center">适用评估指标体系版本</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="nzTable.data">
        <tr>
          <td nzAlign="center">
            <button nz-button nzSize="middle" nzType="default" (click)="openStepInfo(data)">
              <i nz-icon nzType="setting" nzTheme="fill" style="color: coral"></i>阶段管理及进度监控</button>
          </td>
          <td>{{ data.appName }}<br>{{ data.esType }}【{{ data.inTime.substring(0,4) }}】</td>
          <td nzAlign="center">{{ data.startDate }}<br>{{ data.endDate }}</td>
          <td nzAlign="center">{{ data.dataFromDate }}<br>{{ data.dataEndDate }}</td>
          <td>{{ data.esName }}<br>【{{ data.verIndex }}】</td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</nz-card>
