<nz-card nzSize="small">
  <div nz-row>
    <div nz-col nzSpan="8">
      <button nz-button nzType="primary" nzSize="small" (click)="addData()">
        <i nz-icon nzType="plus-circle"></i> 新增 1 行</button>
    </div>
    <div nz-col nzSpan="16" style="text-align: right">
      <button nz-button class="mr-sm" nzType="link" nzSize="small" down-file
        http-url="http://139.224.62.102/assets/zxsj_mb/sjzxtb_k20_kcjs.xlsx" file-name="表K20.教学资源—课程建设.xlsx">
        《表K20.教学资源—课程建设》模板下载 <i nz-icon nzType="download" style="color:coral"></i></button>
      <nz-upload [nzAction]="upUrl" (nzChange)="fupChange($event)">
        <button nz-button nzSize="small" nzType="primary"><i nz-icon nzType="upload"></i><span>数据导入</span></button>
      </nz-upload>
    </div>
  </div>
</nz-card>
<nz-table #editRowTable nzBordered [nzData]="listOfData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr style="background-color: linen;">
      <th rowspan="2" nzWidth="70px" nzAlign="center">年度</th>
      <th rowspan="2" nzWidth="90px" nzAlign="center">学校代码</th>
      <th rowspan="2" nzWidth="110px" nzAlign="center">学校名称</th>
      <th colspan="2" nzAlign="center"><b>中国知网</b></th>
      <th colspan="2" nzAlign="center"><b>超星电子图书</b></th>
      <th colspan="2" nzAlign="center"><b>超星期刊</b></th>
      <th colspan="2" nzAlign="center"><b>读秀学术搜索</b></th>
      <th colspan="2" nzAlign="center"><b>方正Apabi<br>电子图书</b></th>
      <th colspan="2" nzAlign="center"><b>人大复印报刊<br>资料数据库</b></th>
      <th colspan="2" nzAlign="center"><b>博看期刊网</b></th>
      <th colspan="2" nzAlign="center"><b>新东方多媒体<br>学习库</b></th>
      <th rowspan="2" nzAlign="center">Action</th>
    </tr>
    <tr style="background-color: linen">
      <th nzAlign="center">访问量</th>
      <th nzAlign="center">下载量</th>
      <th nzalign="center">访问量</th>
      <th nzalign="center">下载量</th>
      <th nzAlign="center">访问量</th>
      <th nzAlign="center">下载量</th>
      <th nzAlign="center">访问量</th>
      <th nzAlign="center">下载量</th>
      <th nzAlign="center">访问量</th>
      <th nzAlign="center">下载量</th>
      <th nzAlign="center">访问量</th>
      <th nzAlign="center">下载量</th>
      <th nzAlign="center">访问量</th>
      <th nzAlign="center">下载量</th>
      <th nzAlign="center">访问量</th>
      <th nzAlign="center">下载量</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzAlign="center">
        {{ data.nd }} 年
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xxdmInputTpl">
          {{ data.xxdm }}
        </ng-container>
        <ng-template #xxdmInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xxdm" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xxmcInputTpl">
          {{ data.xxmc }}
        </ng-container>
        <ng-template #xxmcInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xxmc" />
        </ng-template>
      </td>
      <!-- nd,xxdm,xxmc,zgzw_fwl,zgzw_xzl,cxdzts_fwl,cxdzts_xzl,cxqk_fwl,cxqk_xzl,dxxs_fwl,dxxs_xzl,fzapabi_fwl,fzapabi_xzl,rdfybk_fwl,rdfybk_xzl,bkqkw_fwl,bkqkw_xzl,xdfdmt_fwl,xdfdmt_xzl -->
      <!-- id,年度,学校代码,学校名称,中国知网访问量,下载量,超星电子图书访问量,下载量,超星期刊访问量,下载量,读秀学术搜索访问量,下载量,方正Apabi电子图书访问量,下载量,人大复印报刊资料数据库访问量,下载量,博看期刊网访问量,下载量,新东方多媒体学习库访问量,下载量 -->
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else zgzw_fwlInputTpl">
          {{ data.zgzw_fwl }}
        </ng-container>
        <ng-template #zgzw_fwlInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.zgzw_fwl" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else zgzw_xzlInputTpl">
          {{ data.zgzw_xzl }}
        </ng-container>
        <ng-template #zgzw_xzlInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.zgzw_xzl" />
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else cxdzts_fwlInputTpl">
          {{ data.cxdzts_fwl }}
        </ng-container>
        <ng-template #cxdzts_fwlInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.cxdzts_fwl" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else cxdzts_xzlInputTpl">
          {{ data.cxdzts_xzl }}
        </ng-container>
        <ng-template #cxdzts_xzlInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.cxdzts_xzl" />
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else cxqk_fwlInputTpl">
          {{ data.cxqk_fwl }}
        </ng-container>
        <ng-template #cxqk_fwlInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.cxqk_fwl" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else cxqk_xzlInputTpl">
          {{ data.cxqk_xzl }}
        </ng-container>
        <ng-template #cxqk_xzlInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.cxqk_xzl" />
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else dxxs_fwlInputTpl">
          {{ data.dxxs_fwl }}
        </ng-container>
        <ng-template #dxxs_fwlInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.dxxs_fwl" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else dxxs_xzlInputTpl">
          {{ data.dxxs_xzl }}
        </ng-container>
        <ng-template #dxxs_xzlInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.dxxs_xzl" />
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else fzapabi_fwlInputTpl">
          {{ data.fzapabi_fwl }}
        </ng-container>
        <ng-template #fzapabi_fwlInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.fzapabi_fwl" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else fzapabi_xzlInputTpl">
          {{ data.fzapabi_xzl }}
        </ng-container>
        <ng-template #fzapabi_xzlInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.fzapabi_xzl" />
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else rdfybk_fwlInputTpl">
          {{ data.rdfybk_fwl }}
        </ng-container>
        <ng-template #rdfybk_fwlInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.rdfybk_fwl" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else rdfybk_xzlInputTpl">
          {{ data.rdfybk_xzl }}
        </ng-container>
        <ng-template #rdfybk_xzlInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.rdfybk_xzl" />
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else bkqkw_fwlInputTpl">
          {{ data.bkqkw_fwl }}
        </ng-container>
        <ng-template #bkqkw_fwlInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.bkqkw_fwl" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else bkqkw_xzlInputTpl">
          {{ data.bkqkw_xzl }}
        </ng-container>
        <ng-template #bkqkw_xzlInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.bkqkw_xzl" />
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xdfdmt_fwlInputTpl">
          {{ data.xdfdmt_fwl }}
        </ng-container>
        <ng-template #xdfdmt_fwlInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xdfdmt_fwl" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xdfdmt_xzlInputTpl">
          {{ data.xdfdmt_xzl }}
        </ng-container>
        <ng-template #xdfdmt_xzlInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xdfdmt_xzl" />
        </ng-template>
      </td>

      <td nzAlign="center">
        <div class="editable-row-operations">
          <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">修改</a>
            <br>
            <a nz-popconfirm nzTitle="确认删除该条数据?" (nzOnConfirm)="dataDelete(data.id)">删除</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">保存</a>
            <br>
            <a nz-popconfirm nzTitle="确认取消?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
