<nz-table #editRowTable nzBordered [nzData]="listOfData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr style="background-color: linen">
      <th nzWidth="100px" nzAlign="center">年度</th>
      <th nzWidth="160px" nzAlign="center">学历教育<b>新设</b><br>办学点或项目数</th>
      <th nzWidth="160px" nzAlign="center">学历教育<b>退出</b><br>办学点或项目数</th>
      <th nzWidth="160px" nzAlign="center">非学历教育<b>新设</b><br>办学点或项目数</th>
      <th nzWidth="160px" nzAlign="center">非学历教育<b>退出</b><br>办学点或项目数</th>
      <th nzWidth="160px" nzAlign="center">社区历教育<b>新设</b><br>办学点或项目数</th>
      <th nzWidth="160px" nzAlign="center">社区教育<b>退出</b><br>办学点或项目数</th>
      <th nzWidth="100px" nzAlign="center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzAlign="center">
        {{ data.nd }} 年
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xlnewnumInputTpl">
          {{ data.xl_newnum }}
        </ng-container>
        <ng-template #xlnewnumInputTpl>
          <!-- <input type="number" nz-input [(ngModel)]="editCache[data.id].data.xl_newnum" /> -->
          <nz-input-number [(ngModel)]="editCache[data.id].data.xl_newnum" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xloutnumInputTpl">
          {{ data.xl_outnum }}
        </ng-container>
        <ng-template #xloutnumInputTpl>
          <!-- <input type="number" nz-input [(ngModel)]="editCache[data.id].data.xl_outnum" /> -->
          <nz-input-number [(ngModel)]="editCache[data.id].data.xl_outnum" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else fxlnewnumInputTpl">
          {{ data.fxl_newnum }}
        </ng-container>
        <ng-template #fxlnewnumInputTpl>
          <!-- <input type="number" nz-input [(ngModel)]="editCache[data.id].data.fxl_newnum" /> -->
          <nz-input-number [(ngModel)]="editCache[data.id].data.fxl_newnum" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else fxloutnumInputTpl">
          {{ data.fxl_outnum }}
        </ng-container>
        <ng-template #fxloutnumInputTpl>
          <!-- <input type="number" nz-input [(ngModel)]="editCache[data.id].data.fxl_outnum" /> -->
          <nz-input-number [(ngModel)]="editCache[data.id].data.fxl_outnum" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else sqnewnumInputTpl">
          {{ data.sq_newnum }}
        </ng-container>
        <ng-template #sqnewnumInputTpl>
          <!-- <input type="number" nz-input [(ngModel)]="editCache[data.id].data.sq_newnum" /> -->
          <nz-input-number [(ngModel)]="editCache[data.id].data.sq_newnum" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else sqoutnumInputTpl">
          {{ data.sq_outnum }}
        </ng-container>
        <ng-template #sqoutnumInputTpl>
          <!-- <input type="number" nz-input [(ngModel)]="editCache[data.id].data.sq_outnum" /> -->
          <nz-input-number [(ngModel)]="editCache[data.id].data.sq_outnum" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <div class="editable-row-operations">
          <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">修改</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">保存</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
