<div nz-row nzGutter="8">
  <p style="text-align: center;font-size: 22px;color: dimgray;">【{{value.esName}}】 <b>指标内涵及观测点</b></p>
  <nz-collapse [nzBordered]="false">
    <nz-collapse-panel *ngFor="let panel of listOfData" [nzHeader]="panelHead" nzActive="true" [nzExtra]="extraTpl"
      nzDisabled="false" nzShowArrow="false" [nzExpandedIcon]="!isFirst && (panel.icon || expandedIcon)"
      style="border: 0px;">
      <div *ngIf="panel.isLeaf===true" nz-row nzGutter="8">
        <p style="margin:0;text-align: right;">
          <button nz-button nzSize="small" nzType="link" (click)="openEdit(panel)" nzTooltipTitle="编辑观测点"
            nzTooltipPlacement="topCenter" nz-tooltip>
            <i nz-icon nzType="setting" nzTheme="fill" style="color:coral"></i>内涵和观测点
          </button>
        </p>
        <div class="steps-content" [innerHTML]="panel.viewPoint"></div>
      </div>
      <ng-template #panelHead>
        <span *ngIf="panel.level==='1'" style="font-weight: bold;font-size: 20px;">{{panel.name}}</span>
        <span *ngIf="panel.level==='2'" style="font-weight: bold;font-size: 18px;">{{panel.name}}</span>
        <span *ngIf="panel.level==='3'" style="font-weight: bold;font-size: 17px;">·{{panel.name}}</span>
        <span *ngIf="panel.level==='4'" style="font-weight: bold;font-size: 16px;">·{{panel.name}}</span>
      </ng-template>
      <ng-template #expandedIcon let-active>
        {{ active }}
        <i nz-icon nzType="caret-right" class="ant-collapse-arrow"></i>
      </ng-template>
      <ng-template #extraTpl>
        <!-- <button nz-button nzSize="small" nzType="default" nzShape="circle" (click)="openEdit(panel)"
            nzTooltipTitle="数据填报" nzTooltipPlacement="topCenter" nz-tooltip>
            <i nz-icon nzType="edit" nzTheme="fill" style="color: coral"></i>
          </button>-->
      </ng-template>
    </nz-collapse-panel>
  </nz-collapse>
</div>
