<nz-table #editRowTable nzBordered [nzData]="listOfData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr style="background: linen">
      <th nzWidth="7%" nzAlign="center">年度</th>
      <th nzWidth="7%" nzAlign="center">学期</th>
      <th nzWidth="9%" nzAlign="center">总校/分校代码</th>
      <th nzAlign="center">总校/分校名称</th>
      <th nzWidth="12%" nzAlign="center"><b>社会培训项目数</b></th>
      <th nzWidth="12%" nzAlign="center"><b>社会培训人次数</b></th>
      <th nzWidth="12%" nzAlign="center"><b>考试服务项目数</b></th>
      <th nzWidth="12%" nzAlign="center"><b>考试服务人次数</b></th>
      <th nzWidth="7%" nzAlign="center">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else ndInputTpl">
          {{ data.nd }} 年
        </ng-container>
        <ng-template #ndInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.nd" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xqInputTpl">
          {{ data.xq }}
        </ng-container>
        <ng-template #xqInputTpl>
          <nz-select style="width: 80px;" [(ngModel)]="editCache[data.id].data.xq" nzAllowClear nzPlaceHolder="学期">
            <nz-option nzValue="全年" nzLabel="全年"></nz-option>
            <nz-option nzValue="春" nzLabel="春"></nz-option>
            <nz-option nzValue="秋" nzLabel="秋"></nz-option>
          </nz-select>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xxdmInputTpl">
          {{ data.xxdm }}
        </ng-container>
        <ng-template #xxdmInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xxdm" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xxmcInputTpl">
          {{ data.xxmc }}
        </ng-container>
        <ng-template #xxmcInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xxmc" />
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else px_xmsInputTpl">
          {{ data.px_xms }}
        </ng-container>
        <ng-template #px_xmsInputTpl>
          <nz-input-number style="width: 10em;" [(ngModel)]="editCache[data.id].data.px_xms" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else px_rssInputTpl">
          {{ data.px_rss }}
        </ng-container>
        <ng-template #px_rssInputTpl>
          <nz-input-number style="width: 10em;" [(ngModel)]="editCache[data.id].data.px_rss" [nzMin]="0"
            [nzStep]="1000">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else ksfw_xmsInputTpl">
          {{ data.ksfw_xms }}
        </ng-container>
        <ng-template #ksfw_xmsInputTpl>
          <nz-input-number style="width: 10em;" [(ngModel)]="editCache[data.id].data.ksfw_xms" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else ksfw_rcsInputTpl">
          {{ data.ksfw_rcs }}
        </ng-container>
        <ng-template #ksfw_rcsInputTpl>
          <nz-input-number style="width: 10em;" [(ngModel)]="editCache[data.id].data.ksfw_rcs" [nzMin]="0"
            [nzStep]="1000">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <div *ngIf="data.islock === 0" class="editable-row-operations">
          <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">修改</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">保存</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认取消吗？" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
