<!-- <nz-card nzSize="small">
  <div nz-row>
    <div nz-col nzSpan="8">
      <button nz-button nzType="primary" nzSize="small" (click)="addData()">
        <i nz-icon nzType="plus-circle"></i> 新增 1 行</button>
      <nz-divider nzType="vertical"></nz-divider>
      <button nz-button nzType="danger" nzSize="small" (click)="deleteConfirm()">
        <i nz-icon nzType="delete"></i> 清空本次填报数据</button>
    </div>
    <div nz-col nzSpan="16" style="text-align: right">
      <button nz-button class="mr-sm" nzType="link" nzSize="small" down-file
        http-url="http://139.224.62.102/assets/zxsj_mb/{{ dataStr.dtNo }}.xlsx" file-name="{{ dataStr.dtName }}.xlsx">
        {{ dataStr.dtName }}模板下载 <i nz-icon nzType="download" style="color:coral"></i>
      </button>
      <nz-upload [nzAction]="upUrl" (nzChange)="fupChange($event)">
        <button nz-button nzSize="small" nzType="primary"><i nz-icon nzType="upload"></i><span>数据导入</span></button>
      </nz-upload>
    </div>
  </div>
</nz-card> -->
<nz-table #editRowTable nzBordered [nzData]="listOfData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr style="background-color: linen">
      <th rowspan="2" nzWidth="9%" nzAlign="center">年度</th>
      <th rowspan="2" nzWidth="8%" nzAlign="center">学期</th>
      <th nzAlign="center" nzWidth="10%" style="font-weight: bold;">学院名称</th>
      <th nzAlign="center" nzWidth="15%" style="font-weight: bold;">专业名称</th>
      <th nzAlign="center" style="font-weight: bold;">课程名称</th>
      <th nzAlign="center" nzWidth="8%" style="font-weight: bold;">面授课教师姓名</th>
      <th nzAlign="center" nzWidth="9%" style="font-weight: bold;">面授课开展次数<br>（2课时计1次）</th>
      <th nzAlign="center" nzWidth="8%" style="font-weight: bold;">出勤率</th>
      <th rowspan="2" nzWidth="8%" nzAlign="center" *ngIf="loadUser.user.unitNo==='S01'">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else ndInputTpl">
          {{ data.nd }} 年
        </ng-container>
        <ng-template #ndInputTpl>
          <nz-input-number style="width: 6em" [(ngModel)]="editCache[data.id].data.nd" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xqInputTpl">
          {{ data.xq }}
        </ng-container>
        <ng-template #xqInputTpl>
          <nz-select style="width: 80px;" [(ngModel)]="editCache[data.id].data.xq" nzAllowClear nzPlaceHolder="学期">
            <nz-option nzValue="春" selected nzLabel="春"></nz-option>
            <nz-option nzValue="秋" nzLabel="秋"></nz-option>
          </nz-select>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xymcInputTpl">
          {{ data.xymc }}
        </ng-container>
        <ng-template #xymcInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xymc" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else zymcInputTpl">
          {{ data.zymc }}
        </ng-container>
        <ng-template #zymcInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.zymc" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else kcmcInputTpl">
          {{ data.kcmc }}
        </ng-container>
        <ng-template #kcmcInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.kcmc" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else jsxmInputTpl">
          {{ data.jsxm }}
        </ng-container>
        <ng-template #jsxmInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.jsxm" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else mskzcsInputTpl">
          {{ data.mskzcs }}
        </ng-container>
        <ng-template #mskzcsInputTpl>
          <nz-input-number style="width: 7em" [(ngModel)]="editCache[data.id].data.mskzcs" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else cqlInputTpl">
          {{ data.cql }}
        </ng-container>
        <ng-template #cqlInputTpl>
          <nz-input-number style="width: 7em" [(ngModel)]="editCache[data.id].data.cql" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center" *ngIf="loadUser.user.unitNo==='S01'">
        <div *ngIf="data.islock === 0" class="editable-row-operations">
          <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">修改</a>
            <nz-divider nzType="vertical"></nz-divider>
            <!-- <a (click)="dataDelete(data.id)">删除</a> -->
            <a nz-popconfirm nzTitle="确认删除该条数据?" (nzOnConfirm)="dataDelete(data.id)">删除</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">保存</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认取消?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
