<nz-table #editRowTable nzBordered [nzData]="listOfData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr style="background-color: linen">
      <th nzWidth="90px" nzAlign="center">年度</th>
      <th nzWidth="80px" nzAlign="center">学期</th>
      <th nzWidth="120px" nzAlign="center">学校名称</th>
      <th nzAlign="center"><b>毕业环节通过<br>本科人数</b></th>
      <th nzAlign="center"><b>毕业环节通过<br>专科人数</b></th>
      <th nzAlign="center"><b>毕业环节<br>本科通过率</b></th>
      <th nzAlign="center"><b>毕业环节<br>专科通过率</b></th>

      <th nzAlign="center"><b>面授辅导课<br>出勤率（%）</b></th>
      <th nzWidth="100px" nzAlign="center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzAlign="center">
        {{ data.nd }}年
      </td>
      <td nzAlign="center">
        {{ data.xq }}
      </td>
      <td nzAlign="center">
        {{ data.xxmc }}
      </td>
      <td nzAlign="center">
        {{ data.bytgrsbk }}
      </td>
      <td nzAlign="center">
        {{ data.bytgrszk }}
      </td>
      <td nzAlign="center">
        {{ data.bytglbk }}
      </td>
      <td nzAlign="center">
        {{ data.bytglzk }}
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else msfdcqlInputTpl">
          {{ data.msfdcql }}
        </ng-container>
        <ng-template #msfdcqlInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.msfdcql" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <div class="editable-row-operations">
          <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">修改</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">保存</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认取消?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
<br>
<nz-table #gmRowTable nzBordered [nzData]="listOfGMData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr style="background-color: linen">
      <th rowspan="2" nzWidth="90px" nzAlign="center">年度</th>
      <th rowspan="2" nzWidth="80px" nzAlign="center">学期</th>
      <th rowspan="2" nzWidth="120px" nzAlign="center">学校名称</th>
      <th colspan="2" nzAlign="center"><b>当学期招生数</b></th>
      <th colspan="2" nzAlign="center"><b>在籍学生数</b></th>
      <th colspan="2" nzAlign="center"><b>在籍续修生数</b></th>
      <th rowspan="2" nzAlign="center"><b>8年有效期内<br>毕业人数</b></th>
      <th rowspan="2" nzAlign="center"><b>8年有效期内<br>学位获得人数</b></th>
      <th rowspan="2" nzAlign="center"><b>新生流失人数</b></th>
      <th rowspan="2" nzWidth="100px" nzAlign="center">Action</th>
    </tr>
    <tr style="background-color: linen">
      <th nzAlign="center"><b>本科</b></th>
      <th nzAlign="center"><b>专科</b></th>
      <th nzAlign="center"><b>本科</b></th>
      <th nzAlign="center"><b>专科</b></th>
      <th nzAlign="center"><b>本科</b></th>
      <th nzAlign="center"><b>专科</b></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of gmRowTable.data">
      <td nzAlign="center">{{ data.nd }} 年</td>
      <td nzAlign="center">{{ data.xq }}</td>
      <td nzAlign="center">{{ data.xxmc }}</td>
      <td nzAlign="center">{{ data.dndzssbk }}</td>
      <td nzAlign="center">{{ data.dndzsszk }}</td>
      <td nzAlign="center">{{ data.zjxssbk }}</td>
      <td nzAlign="center">{{ data.zjxsszk }}</td>
      <td nzAlign="center">{{ data.xxsbk }}</td>
      <td nzAlign="center">{{ data.xxszk }}</td>
      <td nzAlign="center">{{ data.byrs8 }}</td>
      <td nzAlign="center">{{ data.xwhd8 }}</td>
      <td nzAlign="center">{{ data.xslss }}</td>
      <td nzAlign="center">仅浏览</td>
    </tr>
  </tbody>
</nz-table>
