<nz-table #editRowTable nzBordered [nzData]="listOfData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr>
      <th nzWidth="100px" nzAlign="center">年度</th>
      <th nzWidth="160px" nzAlign="center" style="font-weight: bold">学历教育<br>投入（万元）</th>
      <th nzWidth="160px" nzAlign="center" style="font-weight: bold">学历教育<br>人员配备数</th>
      <th nzWidth="160px" nzAlign="center" style="font-weight: bold">非学历教育<br>投入（万元）</th>
      <th nzWidth="160px" nzAlign="center" style="font-weight: bold">非学历教育<br>人员配备数</th>
      <th nzWidth="160px" nzAlign="center" style="font-weight: bold">社区教育<br>投入（万元）</th>
      <th nzWidth="160px" nzAlign="center" style="font-weight: bold">社区教育<br>人员配备数</th>
      <th nzWidth="100px" nzAlign="center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzAlign="center">
        {{ data.nd }} 年
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xlsumInputTpl">
          {{ data.xl_sum }}
        </ng-container>
        <ng-template #xlsumInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.xl_sum" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xlnumInputTpl">
          {{ data.xl_num }}
        </ng-container>
        <ng-template #xlnumInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.xl_num" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else fxlsumInputTpl">
          {{ data.fxl_sum }}
        </ng-container>
        <ng-template #fxlsumInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.fxl_sum" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else fxlnumInputTpl">
          {{ data.fxl_num }}
        </ng-container>
        <ng-template #fxlnumInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.fxl_num" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else sqsumInputTpl">
          {{ data.sq_sum }}
        </ng-container>
        <ng-template #sqsumInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.sq_sum" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else sqnumInputTpl">
          {{ data.sq_num }}
        </ng-container>
        <ng-template #sqnumInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.sq_num" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <div class="editable-row-operations">
          <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">修改</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">保存</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
