<nz-card nzSize="small">
  <div nz-row>
    <div nz-col nzSpan="8">
      <button nz-button nzType="primary" nzSize="small" (click)="addData()">
        <i nz-icon nzType="plus-circle"></i> 新增 1 行</button>
    </div>
    <div nz-col nzSpan="16" style="text-align: right">
      <button nz-button class="mr-sm" nzType="link" nzSize="small" down-file
        http-url="http://139.224.62.102/assets/zxsj_mb/sjzxtb_k09_jsjbxx.xlsx" file-name="表K09.总校教师基本信息.xlsx">
        《表K09.总校教师基本信息》模板下载 <i nz-icon nzType="download" style="color:coral"></i></button>
      <nz-upload [nzAction]="upUrl" (nzChange)="fupChange($event)">
        <button nz-button nzSize="small" nzType="primary"><i nz-icon nzType="upload"></i><span>数据导入</span></button>
      </nz-upload>
    </div>
  </div>
</nz-card>
<nz-table #editRowTable nzBordered [nzData]="listOfData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr style="background: linen">
      <th nzAlign="center">年度</th>
      <th nzAlign="center">姓名</th>
      <th nzAlign="center">工号</th>
      <th nzAlign="center">出生年月</th>
      <th nzAlign="center">性别</th>
      <th nzAlign="center">毕业专业</th>
      <th nzAlign="center">任教学科</th>
      <th nzAlign="center">任教课程<br>总门次</th>
      <th nzAlign="center">专业技术职务</th>
      <th nzAlign="center">学历</th>
      <th nzAlign="center">学位</th>
      <th nzAlign="center">性质</th>
      <th nzAlign="center">所在单位</th>
      <th nzWidth="100px" nzAlign="center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else ndInputTpl">
          {{ data.nd }} 年
        </ng-container>
        <ng-template #ndInputTpl>
          <nz-input-number style="max-width: 5em" [(ngModel)]="editCache[data.id].data.nd" [nzMin]="0" [nzStep]="1"
            nzSize="4">
          </nz-input-number>
        </ng-template>
      </td>
      <!-- id,nd,xm,zgh,birdate,xb,byzy,rjxk,rjkczmc,zyjszw,xl,xw,xz,szdw -->
      <!-- id,年度,姓名,工号,出生年月,性别,毕业专业,任教学科,任教课程总门次,专业技术职务,学历,学位,性质,所在单位 -->
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xmInputTpl">
          {{ data.xm }}
        </ng-container>
        <ng-template #xmInputTpl>
          <input type="text" style="max-width: 7em" nz-input [(ngModel)]="editCache[data.id].data.xm" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else zghInputTpl">
          {{ data.zgh }}
        </ng-container>
        <ng-template #zghInputTpl>
          <input type="text" style="max-width: 7em" nz-input [(ngModel)]="editCache[data.id].data.zgh" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else birdateInputTpl">
          {{ data.birdate }}
        </ng-container>
        <ng-template #birdateInputTpl>
          <input type="text" style="max-width: 7em" nz-input [(ngModel)]="editCache[data.id].data.birdate" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xbInputTpl">
          {{ data.xb }}
        </ng-container>
        <ng-template #xbInputTpl>
          <!-- <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xb" /> -->
          <nz-select style="width: 60px;" [(ngModel)]="editCache[data.id].data.xb" nzAllowClear nzPlaceHolder="性别">
            <nz-option nzValue="男" nzLabel="男"></nz-option>
            <nz-option nzValue="女" nzLabel="女"></nz-option>
          </nz-select>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else byzyInputTpl">
          {{ data.byzy }}
        </ng-container>
        <ng-template #byzyInputTpl>
          <input type="text" style="max-width: 11em" nz-input [(ngModel)]="editCache[data.id].data.byzy" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else rjxkInputTpl">
          {{ data.rjxk }}
        </ng-container>
        <ng-template #rjxkInputTpl>
          <input type="text" style="max-width: 12em" nz-input [(ngModel)]="editCache[data.id].data.rjxk" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else rjkczmcInputTpl">
          {{ data.rjkczmc }}
        </ng-container>
        <ng-template #rjkczmcInputTpl>
          <nz-input-number style="max-width: 5em" [(ngModel)]="editCache[data.id].data.rjkczmc" [nzMin]="0"
            [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else zyjszwInputTpl">
          {{ data.zyjszw }}
        </ng-container>
        <ng-template #zyjszwInputTpl>
          <input type="text" style="max-width: 11em" nz-input [(ngModel)]="editCache[data.id].data.zyjszw" />
          <!-- <nz-select style="width: 70px;" [(ngModel)]="editCache[data.id].data.zyjszw" nzAllowClear nzPlaceHolder="职称">
            <nz-option nzValue="正高" nzLabel="正高"></nz-option>
            <nz-option nzValue="副高" nzLabel="副高"></nz-option>
            <nz-option nzValue="中级" nzLabel="中级"></nz-option>
            <nz-option nzValue="初级" nzLabel="初级"></nz-option>
            <nz-option nzValue="无" nzLabel="无"></nz-option>
          </nz-select> -->
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xlInputTpl">
          {{ data.xl }}
        </ng-container>
        <ng-template #xlInputTpl>
          <!-- <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xl" /> -->
          <nz-select style="width: 70px;" [(ngModel)]="editCache[data.id].data.xl" nzAllowClear nzPlaceHolder="学历">
            <nz-option nzValue="博士研究生" nzLabel="博士研究生"></nz-option>
            <nz-option nzValue="硕士研究生" nzLabel="硕士研究生"></nz-option>
            <nz-option nzValue="本科" nzLabel="本科"></nz-option>
            <nz-option nzValue="专科" nzLabel="专科"></nz-option>
            <nz-option nzValue="中专" nzLabel="中专"></nz-option>
            <nz-option nzValue="其它" nzLabel="其它"></nz-option>
          </nz-select>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xwInputTpl">
          {{ data.xw }}
        </ng-container>
        <ng-template #xwInputTpl>
          <!-- <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xw" /> -->
          <nz-select style="width: 70px;" [(ngModel)]="editCache[data.id].data.xw" nzAllowClear nzPlaceHolder="学位">
            <nz-option nzValue="博士" nzLabel="博士"></nz-option>
            <nz-option nzValue="硕士" nzLabel="硕士"></nz-option>
            <nz-option nzValue="学士" nzLabel="学士"></nz-option>
            <nz-option nzValue="专科" nzLabel="专科"></nz-option>
            <nz-option nzValue="其它" nzLabel="其它"></nz-option>
            <nz-option nzValue="无任何学位" nzLabel="无任何学位"></nz-option>
          </nz-select>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xzInputTpl">
          {{ data.xz }}
        </ng-container>
        <ng-template #xzInputTpl>
          <!-- <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xz" /> -->
          <nz-select style="width: 60px;" [(ngModel)]="editCache[data.id].data.xz" nzAllowClear nzPlaceHolder="性质">
            <nz-option nzValue="专职" nzLabel="专职"></nz-option>
            <nz-option nzValue="兼职" nzLabel="兼职"></nz-option>
          </nz-select>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else szdwInputTpl">
          {{ data.szdw }}
        </ng-container>
        <ng-template #szdwInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.szdw" />
        </ng-template>
      </td>

      <td nzAlign="center">
        <div class="editable-row-operations">
          <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">修改</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认删除该条数据?" (nzOnConfirm)="dataDelete(data.id)">删除</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">保存</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认取消?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
