<div nz-row [nzGutter]="8" *ngFor="let dt of listOfTableList; let i = index">
  <nz-card [nzHoverable]="true" nzType="inner" [nzTitle]="'【' + dt.index_name+'】'" [nzActions]="[upStatus]"
    [nzExtra]="extraTemplate">
    <div nz-col nzSpan="24">
      <i nz-icon nzType="star" nzTheme="fill" style="font-weight: bold;color: crimson;"></i>
      <span style="font-size: medium;font-weight: bold;color: crimson;"> {{ dt.dt_name }} </span>
    </div>

    <div *ngIf="dt.mod_time" nz-col nzSpan="24" style="line-height: 2.5em;">
      <i nz-icon nzType="check-circle" style="color:lawngreen"></i> 已填报:{{ dt.mod_time.substring(0, 16) }}
    </div>
    <div *ngIf="!dt.mod_time" nz-col nzSpan="24" style="line-height: 2.5em;">
      <i nz-icon nzType="close-circle" style="color:crimson"></i> 未填报
    </div>
    <!-- <div *ngIf="dt.checkTime" nz-col nzSpan="12">
      <i nz-icon nzType="check-square" style="color:rgb(92, 180, 3)"></i> 确认:{{ dt.checkTime.substring(0, 16) }}
    </div>
    <div *ngIf="!dt.checkTime" nz-col nzSpan="12">
      <i nz-icon nzType="check-square" style="color:rgb(92, 180, 3)"></i>
      未确认
    </div> -->
  </nz-card>
  <ng-template #extraTemplate>
    <span nz-tooltip nzTooltipTitle="查看指标内涵">
      <i nz-icon nzType="info-circle" nzTheme="fill" style="font-size: 16px;color:slategray;"
        (click)="showComet(dt.index_name,dt.index_remark)"></i></span>
  </ng-template>
  <ng-template #upStatus>
    <button nz-button nzType="link" style="color:slategray;" nzTooltipTitle="数据填报或修改" (click)="dataUpFun(dt)"
      nzTooltipPlacement="topCenter" nz-tooltip>
      <i nz-icon nzType="edit" nzTheme="fill" style="color: coral;"></i> <b>填报数据</b></button>
  </ng-template>
  <ng-template #checkStatus>
    <button nz-button nzType="link" style="color:slategray;" nzTooltipTitle="查看数据统计分析" (click)="dataUpFun(dt)"
      nzTooltipPlacement="topCenter" nz-tooltip>
      <i nz-icon nzType="radar-chart" style="color: coral;"></i> <b>数据预览</b></button>
  </ng-template>
</div>
