<div nz-row [nzGutter]="8" *ngFor="let dt of listOfTableList; let i = index">
  <nz-card nzSize="small" [nzHoverable]="true" nzType="inner" [nzTitle]="'指标：' + dt.indexName"
    [nzActions]="[upStatus, checkStatus]" [nzExtra]="extraTemplate">
    <div nz-col nzSpan="24">
      <b> <i nz-icon nzType="golden" nzTheme="fill" style="color: coral"></i> {{ dt.dtName }} </b>
    </div>
    <!-- <nz-divider nzType="horizontal"></nz-divider>
    <div *ngIf="dt.modTime" nz-col nzSpan="12">
      <i nz-icon nzType="diff" style="color:rgb(5, 113, 221)"></i> 最后修改:{{ dt.modTime.substring(0, 16) }}
    </div>
    <div *ngIf="!dt.modTime" nz-col nzSpan="12">
      <i nz-icon nzType="diff" style="color:rgb(5, 113, 221)"></i> 未上传
    </div>

    <div *ngIf="dt.checkTime" nz-col nzSpan="12">
      <i nz-icon nzType="check-square" style="color:rgb(92, 180, 3)"></i> 审核确认:{{ dt.checkTime.substring(0, 16) }}
    </div>
    <div *ngIf="!dt.checkTime" nz-col nzSpan="12">
      <i nz-icon nzType="check-square" style="color:rgb(92, 180, 3)"></i>
      未确认
    </div> -->
  </nz-card>
  <ng-template #extraTemplate>
    <span nz-tooltip nzTooltipTitle="{{ dt.indexRemark }}">
      <i nz-icon nzType="info-circle" nzTheme="fill" style="color: coral"></i>
      内涵</span>
  </ng-template>
  <ng-template #upStatus>
    <a (click)="dataUpFun(dt)"><i nz-icon nzType="edit" nzTheme="fill" style="color: coral"></i> 数据填报</a>
  </ng-template>
  <ng-template #checkStatus>
    <a><i nz-icon nzType="radar-chart" nzTheme="outline" style="color: coral"></i> 数据预览</a>
  </ng-template>
</div>
