<div nz-row [nzGutter]="8" *ngFor="let dt of listOfTableList; let i=index;">
  <nz-card nzSize="small" [nzHoverable]="true" nzType="inner" [nzTitle]='"★ " + dt.dtName '>
    <div nz-col nzSpan="12">
      <button nz-button (click)="dataUpFun(dt)" style="border: 0em">
        <i nz-icon nzType="edit" nzTheme="fill" style="color: coral"></i>
        数据填报</button>
    </div>
    <div nz-col nzSpan="12">
      <button nz-button (click)="dataUpFun(dt)" style="border: 0em">
        <i nz-icon nzType="pie-chart" nzTheme="fill" style="color: coral"></i>
        数据预览</button>
    </div>
  </nz-card>
</div>

<!-- <div nz-row [nzGutter]="8" *ngFor="let dt of listOfTableList; let i=index;">
  <nz-card nzSize="small" [nzHoverable]="true" nzType="inner" [nzTitle]='"★ " + dt.dtName '
    [nzActions]="[upStatus, checkStatus]">
    <div nz-col nzSpan="12">
      <i nz-icon nzType="diff" style="color:dodgerblue"></i> 上传：{{dt.outTime.substring(0,16)}}
    </div>
    <div nz-col nzSpan="12"><i nz-icon nzType="check-square" style="color:rgb(93, 182, 4)"></i>
      确认：{{dt.outTime.substring(0,16)}}
    </div>
  </nz-card>

  <ng-template #upStatus>
    <a (click)="dataUpFun(dt)"><i nz-icon nzType="edit" nzTheme="fill" style="color: coral"></i> 数据填报</a>
  </ng-template>
  <ng-template #checkStatus>
    <a><i nz-icon nzType="pie-chart" nzTheme="fill" style="color: coral"></i> 数据预览</a>
  </ng-template>

</div> -->
