<nz-table nzSize="small" #colSpanTable [nzData]="listOfFileList" nzBordered nzPageSize="50" nzHideOnSinglePage="true">
  <thead>
    <tr>
      <th nzAlign="center" nzWidth="55%"><b>文字单片材料名称</b></th>
      <th nzAlign="center" nzWidth="12%"><b>指标内涵</b></th>
      <th nzAlign="center" nzWidth="10%"><b>是否上传</b></th>
      <th nzAlign="center" nzWidth="10%"><b>是否确认</b></th>
      <th nzAlign="center" nzWidth="12%">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dt of colSpanTable.data; index as i">
      <td>{{ dt.dtName }}</td>
      <td nzAlign="center">
        <span nz-tooltip nzTooltipTitle="点击浏览内涵">
          <i nz-icon nzType="info-circle" nzTheme="fill" style="color:dodgerblue;font-size: 16px;"
            (click)="showComet(dt.indexName,dt.indexRemark)"></i></span>
      </td>
      <td nzAlign="center">
        <span *ngIf="!dt.modTime" nz-tooltip nzTooltipTitle="未上传">
          <i nz-icon nzType="close" style="color: crimson;font-size: 16px;"></i>
        </span>
        <span *ngIf="dt.modTime" nz-tooltip nzTooltipTitle="{{dt.modTime}}">
          <i nz-icon nzType="check-circle" style="color:lime;font-size: 16px;"></i>
        </span>
      </td>
      <td nzAlign="center">
        <span *ngIf="!dt.checkTime" nz-tooltip nzTooltipTitle="待确认">
          <i nz-icon nzType="minus-circle" style="color: crimson;font-size: 16px;"></i>
        </span>
        <span *ngIf="dt.checkTime" nz-tooltip nzTooltipTitle="{{dt.checkTime}}">
          <i nz-icon nzType="check-circle" style="color:lime;font-size: 16px;"></i>
        </span>
      </td>
      <td>&nbsp;
        <span nz-tooltip nzTooltipTitle="上传或重传">
          <button nzSize="small" nz-button (click)="fileUpFun(dt)" style="border: 0em">
            <i nz-icon nzType="upload" style="color: coral"></i></button></span>

        <span nz-tooltip nzTooltipTitle="预览">
          <button *ngIf="dt.fileupUrl" nzSize="small" nz-button style="border: 0em" down-file
            http-url="{{dt.fileupUrl}}" file-name="{{dt.dtName}}.docx"><i nz-icon nzType="search"
              style="color: lime"></i></button>
        </span>
      </td>
    </tr>
  </tbody>
</nz-table>

<!-- <div nz-row [nzGutter]="8" *ngFor="let dt of listOfFileList; let i=index;">
  <nz-card [nzHoverable]="true" nzType="inner" [nzTitle]="dt.fileName">
    <div nz-col nzSpan="12">
      <button nz-button (click)="fileUpFun(dt)" style="border: 0em">
        <i nz-icon nzType="edit" nzTheme="fill" style="color: coral"></i>
        数据填报</button>
    </div>
    <div nz-col nzSpan="12">
      <button nz-button style="border: 0em" down-file http-url="http://localhost:4200/assets/demo.pdf"
        file-name="表K10.管理人员基本信息.pdf">
        <i nz-icon nzType="search" style="color: lime"></i> 预览</button>
    </div>
  </nz-card>
</div> -->
