<div nz-row [nzGutter]="8" *ngFor="let dt of listOfFileList; let i=index;">
  <nz-card [nzHoverable]="true" nzType="inner" [nzTitle]="'指标：' + dt.indexName" [nzActions]="[upStatus, checkStatus]"
    [nzExtra]="extraTemplate">
    <div nz-col nzSpan="24">
      <b> <i nz-icon nzType="golden" nzTheme="fill" style="color: coral"></i> {{ dt.dtName }} </b>
    </div>
    <!-- <nz-divider nzType="horizontal"></nz-divider>
    <div *ngIf="dt.modTime" nz-col nzSpan="12">
      <i nz-icon nzType="diff" style="color:rgb(5, 113, 221)"></i> 上传:{{ dt.modTime.substring(0, 16) }}
    </div>
    <div *ngIf="!dt.modTime" nz-col nzSpan="12">
      <i nz-icon nzType="diff" style="color:rgb(5, 113, 221)"></i> 未上传
    </div>

    <div *ngIf="dt.checkTime" nz-col nzSpan="12">
      <i nz-icon nzType="check-square" style="color:rgb(92, 180, 3)"></i> 确认:{{ dt.checkTime.substring(0, 16) }}
    </div>
    <div *ngIf="!dt.checkTime" nz-col nzSpan="12">
      <i nz-icon nzType="check-square" style="color:rgb(92, 180, 3)"></i>
      未确认
    </div> -->
  </nz-card>
  <ng-template #extraTemplate>
    <span nz-tooltip nzTooltipTitle="点击浏览内涵">
      <i nz-icon nzType="info-circle" nzTheme="fill" style="color:dodgerblue;font-size: 18px;"
        (click)="showComet(dt.indexName,dt.indexRemark)"></i></span>
  </ng-template>
  <ng-template #upStatus>
    <a (click)="fileUpFun(dt)"><i nz-icon nzType="edit" nzTheme="fill" style="color: coral"></i> 材料上传</a>
  </ng-template>
  <ng-template #checkStatus>
    <!-- <a href='./assets/demo.pdf' target="_blank"><i nz-icon nzType="pie-chart" nzTheme="fill" style="color: coral"></i>
      材料预览</a> -->

    <span *ngIf="dt.fileupUrl" nz-tooltip nzTooltipTitle="预览">
      <button nzSize="small" nz-button style="border: 0em" down-file http-url="{{dt.fileupUrl}}"
        file-name="{{dt.dtName}}.docx"><i nz-icon nzType="search" style="color: lime"></i> 材料预览</button>
    </span>
    <span *ngIf="!dt.fileupUrl" nz-tooltip nzTooltipTitle="未上传">
      <button nzSize="small" nz-button style="border: 0em">
        <i nz-icon nzType="close" style="color: crimson"></i> 未上传</button>
    </span>
  </ng-template>
</div>
