<nz-table #editRowTable nzBordered [nzData]="listOfData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr style="background-color: linen;">
      <th nzWidth="100px" nzAlign="center">年度</th>
      <th nzWidth="160px" nzAlign="center" style="font-weight: bold">共享资源数</th>
      <th nzWidth="160px" nzAlign="center" style="font-weight: bold">共建资源数</th>
      <th nzWidth="100px" nzAlign="center">Action</th>
    </tr>
  </thead>
  <!-- id,nd,xxdm,xxmc,gxzys,gjzys -->
  <!-- id,年度,学校代码,学校名称,共享资源数,共建项目数 -->
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzAlign="center">
        {{ data.nd }} 年
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else gxzysInputTpl">
          {{ data.gxzys }}
        </ng-container>
        <ng-template #gxzysInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.gxzys" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else gjzysInputTpl">
          {{ data.gjzys }}
        </ng-container>
        <ng-template #gjzysInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.gjzys" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <div class="editable-row-operations">
          <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">修改</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">保存</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
