<div class="card-container">
  <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">

    <nz-tab [nzTitle]="titleTemplate">
      <ng-template #titleTemplate><i nz-icon nzType="form" style="color: coral"></i>评分及反馈意见</ng-template>
      <div>
        <!-- <nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
        <sf *ngIf="i" #sf mode="edit" [schema]="schema" [ui]="ui" [formData]="i" button="none">
          <button nz-button type="button" (click)="close()">关闭</button>
          <button nz-button type="submit" nzType="primary" (click)="save(sf.value)" [disabled]="!sf.valid">保存</button>
        </sf> -->
        <p style="color: dimgray;font-weight: bold;">评审打分:</p>
        <p>
          <nz-radio-group [(ngModel)]="radioValue">
            <label nz-radio [ngStyle]="style" nzValue="A"> 发展态势趋向正面且加速度为正，设为A档</label>
            <label nz-radio [ngStyle]="style" nzValue="B"> 发展态势趋向正面且加速度为负，设为B档</label>
            <label nz-radio [ngStyle]="style" nzValue="C"> 发展态势平稳或出现波动，设为C档</label>
            <label nz-radio [ngStyle]="style" nzValue="D"> 发展态势趋向负面，设为D档 </label>
          </nz-radio-group>
        </p>
        <p style="color: dimgray;font-weight: bold;">反馈意见:</p>
        <p>
          <textarea nz-input rows="5" placeholder="在此输入评审意见"></textarea>
        </p>
        <p>
          <button nz-button nzType="primary">确认提交</button>
        </p>
      </div>
    </nz-tab>

    <nz-tab [nzTitle]="titleTemplate2">
      <ng-template #titleTemplate2><i nz-icon nzType="profile" style="color: coral"></i>数据分析</ng-template>
      <nz-card>
        <nz-checkbox-wrapper style="width: 100%;">
          <div nz-row>
            <div nz-col nzSpan="6"><label nz-checkbox nzValue="A" [ngModel]="true">虹口分校</label></div>
            <div nz-col nzSpan="6"><label nz-checkbox nzValue="B">闵二分校</label></div>
            <div nz-col nzSpan="6"><label nz-checkbox nzValue="C">宝山分校</label></div>
            <div nz-col nzSpan="6"><label nz-checkbox nzValue="D"><b>系统均值</b></label></div>
          </div>
        </nz-checkbox-wrapper>
      </nz-card>
      <div>
        <app-dashboard-zjpsdf-data-board></app-dashboard-zjpsdf-data-board>
      </div>
    </nz-tab>

    <nz-tab [nzTitle]="titleTemplate1">
      <ng-template #titleTemplate1><i nz-icon nzType="import" style="color: coral"></i>单片材料</ng-template>
      <nz-card>
        <nz-checkbox-wrapper style="width: 100%;">
          <div nz-row>
            <div nz-col nzSpan="6"><label nz-checkbox nzValue="A" [ngModel]="true">虹口分校</label></div>
            <div nz-col nzSpan="6"><label nz-checkbox nzValue="B" [ngModel]="true">闵二分校</label></div>
            <div nz-col nzSpan="6"><label nz-checkbox nzValue="C" [ngModel]="true">宝山分校</label></div>
            <div nz-col nzSpan="6"><label nz-checkbox nzValue="D"><b>全部分校</b></label></div>
          </div>
        </nz-checkbox-wrapper>
      </nz-card>
      <nz-table nzSize="small" #colSpanTable [nzData]="value.branchInfoList" nzBordered nzHideOnSinglePage="true">
        <thead>
          <tr style="background-color: linen">
            <th nzAlign="center" nzWidth="20%" rowspan="2"><b>分校名称</b></th>
            <th nzAlign="center" nzWidth="80%" rowspan="2"><b>文字单片材料</b></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dt of colSpanTable.data; index as i">
            <td> {{dt.bname}}</td>
            <td nzAlign="center"> 文字单片材料</td>
          </tr>
          <tr style="display: trVisible;">
            <td> 分校 1</td>
            <td nzAlign="center"> 文字单片材料</td>
          </tr>
          <tr style="display: trVisible;">
            <td> 分校 2</td>
            <td nzAlign="center"> 文字单片材料</td>
          </tr>
          <tr>
            <td> 分校 3</td>
            <td nzAlign="center"> 文字单片材料</td>
          </tr>
          <tr>
            <td> 分校 4</td>
            <td nzAlign="center"> 文字单片材料</td>
          </tr>
          <tr>
            <td> 分校 5</td>
            <td nzAlign="center"> 文字单片材料</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>
    <nz-tab [nzTitle]="titleTemplate5">
      <ng-template #titleTemplate5><i nz-icon nzType="select" style="color: coral"></i>评分细则</ng-template>
      <p>{{value.auditDesc}}
        发展态势趋向正面且加速度为正，设为A档

        发展态势趋向正面且加速度为负，设为B档

        发展态势平稳或出现波动，设为C档

        发展态势趋向负面，设为D档
      </p>
    </nz-tab>
  </nz-tabset>
</div>
