<nz-card  *ngIf="loadUser.user.unitNo==='S01'" nzSize="small">
  <div nz-row>
    <div nz-col nzSpan="8">
      <button nz-button nzType="primary" nzSize="small" (click)="addData()">
        <i nz-icon nzType="plus-circle"></i> 新增 1 行</button>
      <nz-divider nzType="vertical"></nz-divider>
      <button nz-button nzType="danger" nzSize="small" (click)="deleteConfirm()">
        <i nz-icon nzType="delete"></i> 清空本次填报数据</button>
    </div>
    <div nz-col nzSpan="16" style="text-align: right">
      <button nz-button class="mr-sm" nzType="link" nzSize="small" down-file
        http-url="http://139.224.62.102/assets/fxsj_mb/{{ dataStr.dtNo }}.xlsx" file-name="{{ dataStr.dtName }}.xlsx">
        {{ dataStr.dtName }}模板下载 <i nz-icon nzType="download" style="color:coral"></i>
      </button>
      <nz-upload [nzAction]="upUrl" (nzChange)="fupChange($event)">
        <button nz-button nzSize="small" nzType="primary"><i nz-icon nzType="upload"></i><span>数据导入</span></button>
      </nz-upload>
    </div>
  </div>
</nz-card>
<nz-table #editRowTable nzBordered [nzData]="listOfData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr style="background-color: linen">
      <th nzWidth="12%" nzAlign="center">年度</th>
      <th nzAlign="center" style="font-weight: bold;">共享课程名称</th>
      <th nzAlign="center" nzWidth="25%" style="font-weight: bold;">共享类别</th>
      <th nzWidth="12%" nzAlign="center" *ngIf="loadUser.user.unitNo==='S01'">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else ndInputTpl">
          {{ data.nd }} 年
        </ng-container>
        <ng-template #ndInputTpl>
          <nz-input-number style="width: 8em" [(ngModel)]="editCache[data.id].data.nd" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else kcmcInputTpl">
          {{ data.kcmc }}
        </ng-container>
        <ng-template #kcmcInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.kcmc" />
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xmlbInputTpl">
          {{ data.xmlb }}
        </ng-container>
        <ng-template #xmlbInputTpl>
          <nz-select style="width: 120px;" [(ngModel)]="editCache[data.id].data.xmlb" nzAllowClear nzPlaceHolder="共享类别">
            <nz-option nzValue="培训项目" nzLabel="培训项目"></nz-option>
            <nz-option nzValue="考试项目" nzLabel="考试项目"></nz-option>
          </nz-select>
        </ng-template>
      </td>

      <td nzAlign="center" *ngIf="loadUser.user.unitNo==='S01'">
        <div *ngIf="data.islock === 0" class="editable-row-operations">
          <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">修改</a>
            <nz-divider nzType="vertical"></nz-divider>
            <!-- <a (click)="dataDelete(data.id)">删除</a> -->
            <a nz-popconfirm nzTitle="确认删除该条数据?" (nzOnConfirm)="dataDelete(data.id)">删除</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">保存</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认取消?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
