<div class="modal-header">
  <div class="modal-title"><b>【{{ record.name }}】</b> 指标内涵及观测点修改</div>
</div>
<div class="steps-content" [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="3" style="font-size: 16px;font-weight: bold;">指标内涵</nz-form-label>
    <nz-form-control [nzSpan]="21">
      <ueditor #full formControlName="remark" [config]="config" (onReady)="_ready($event)" (onDestroy)="_destroy()"
        (ngModelChange)="_change($event)" style="width: 90%; ">
      </ueditor>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="3" style="font-size: 16px;font-weight: bold;">观 测 点</nz-form-label>
    <nz-form-control [nzSpan]="21">
      <ueditor #full formControlName="viewPoint" [config]="config" (onReady)="_ready($event)" (onDestroy)="_destroy()"
        (ngModelChange)="_change($event)" style="width: 90%;">
      </ueditor>
    </nz-form-control>
  </nz-form-item>
</div>
<div class="modal-footer" style="text-align: right;">
  <button nz-button type="button" (click)="close()">关闭</button>
  <button nz-button nzType="primary" (click)="submitForm()"><span>保存</span>
  </button>
</div>
