<div class="card-container">
  <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab [nzTitle]="titleTemplate">
      <ng-template #titleTemplate><i nz-icon nzType="form" style="color: coral"></i>数据列表</ng-template>

      <div *ngIf="value.dtNo === 'zxtb_k01_ldxx'">
        <app-stepprocess-tbjczx-zxtbk01-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk01-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k021_xltr'">
        <app-stepprocess-tbjczx-zxtbk021-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk021-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k022_fxltr'">
        <app-stepprocess-tbjczx-zxtbk022-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk022-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k023_sqtr'">
        <app-stepprocess-tbjczx-zxtbk023-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk023-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k024_develop'">
        <app-stepprocess-tbjczx-zxtbk024-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk024-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k032_xlxt'">
        <app-stepprocess-tbjczx-zxtbk032-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk032-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k033_fxlxt'">
        <app-stepprocess-tbjczx-zxtbk033-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk033-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k034_sqxt'">
        <app-stepprocess-tbjczx-zxtbk034-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk034-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k051_jsjbxx'">
        <app-stepprocess-tbjczx-zxtbk051-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk051-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k052_jsjbqk'">
        <app-stepprocess-tbjczx-zxtbk052-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk052-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k053_gsprc'">
        <app-stepprocess-tbjczx-zxtbk053-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk053-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k061_glryxx'">
        <app-stepprocess-tbjczx-zxtbk061-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk061-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k062_fdyxx'">
        <app-stepprocess-tbjczx-zxtbk062-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk062-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k07_hzbx'">
        <app-stepprocess-tbjczx-zxtbk07-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk07-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k081_yjss'">
        <app-stepprocess-tbjczx-zxtbk081-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk081-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k082_yypt'">
        <app-stepprocess-tbjczx-zxtbk082-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk082-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k091_kypt'">
        <app-stepprocess-tbjczx-zxtbk091-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk091-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k092_kfjyyj'">
        <app-stepprocess-tbjczx-zxtbk092-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk092-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k093_shsqjy'">
        <app-stepprocess-tbjczx-zxtbk093-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk093-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k10_zyhbj'">
        <app-stepprocess-tbjczx-zxtbk10-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk10-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k111_kcjs'">
        <app-stepprocess-tbjczx-zxtbk111-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk111-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k112_web'">
        <app-stepprocess-tbjczx-zxtbk112-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk112-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k113_mskkz'">
        <app-stepprocess-tbjczx-zxtbk113-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk113-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k114_dzts'">
        <app-stepprocess-tbjczx-zxtbk114-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk114-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k12_sysj'">
        <app-stepprocess-tbjczx-zxtbk12-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk12-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k131_rcpygm'">
        <app-stepprocess-tbjczx-zxtbk131-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk131-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k132_fxlgm'">
        <app-stepprocess-tbjczx-zxtbk132-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk132-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k133_sqgm'">
        <app-stepprocess-tbjczx-zxtbk133-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk133-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k134_rcpy3l'">
        <app-stepprocess-tbjczx-zxtbk134-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk134-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k14_hjqkxs'">
        <app-stepprocess-tbjczx-zxtbk14-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk14-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k15_cdxm'">
        <app-stepprocess-tbjczx-zxtbk15-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk15-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k16_jxjx'">
        <app-stepprocess-tbjczx-zxtbk16-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk16-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k17_kycg'">
        <app-stepprocess-tbjczx-zxtbk17-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk17-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k18_gjyxl'">
        <app-stepprocess-tbjczx-zxtbk18-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk18-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k21_xfyh'">
        <app-stepprocess-tbjczx-zxtbk21-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk21-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k221_xlmyd'">
        <app-stepprocess-tbjczx-zxtbk221-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk221-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k222_fxlmyd'">
        <app-stepprocess-tbjczx-zxtbk222-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk222-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k223_sqmyd'">
        <app-stepprocess-tbjczx-zxtbk223-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk223-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k231_xwmt'">
        <app-stepprocess-tbjczx-zxtbk231-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk231-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k232_glory'">
        <app-stepprocess-tbjczx-zxtbk232-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk232-index>
      </div>
    </nz-tab>

    <nz-tab [nzTitle]="titleTemplate2" [nzForceRender]="true">
      <ng-template #titleTemplate2><i nz-icon nzType="radar-chart" style="color: coral"></i>统计分析</ng-template>
      <div *ngIf="value.dtNo === 'zxtb_k051_jsjbxx'">
        <app-stepprocess-tbjczx-zxtbk051-chart [dataStr]="value"></app-stepprocess-tbjczx-zxtbk051-chart>
      </div>

    </nz-tab>

    <nz-tab [nzTitle]="titleTemplate5">
      <ng-template #titleTemplate5><i nz-icon nzType="select" style="color: coral"></i>数据导出</ng-template>
      <p><b>导出本表全部数据：</b></p>
      <br />
      <button nz-button [nzType]="'primary'" (click)="exportToExcel($event)">
        <i nz-icon nzType="check-circle" nzTheme="outline"></i> 导出为 EXCEL >>
      </button>
      <nz-modal [(nzVisible)]="isVisible" nzTitle="数据已导出请点击下载！" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <p style="align-content: center;">
          <button nz-button class="mr-sm" down-file [http-url]="downExcelUrl" [file-name]="value.dtName + '.xlsx'">
            {{ value.dtName }} <i nz-icon nzType="download" style="color:coral"></i>
          </button>
        </p>
      </nz-modal>
      <!-- <p><b>请选择要导出的数据字段：</b></p>
      <nz-select nzMode="tags" style="width: 100%;" (ngModelChange)="exportToExcel($event)" nzPlaceHolder="请选择数据字段！"
        id="outFields">
        <nz-option *ngFor="let option of listOfFields;let i=index" [nzLabel]="listOfFieldsZH[i]"
          [nzValue]="listOfFields[i]">
        </nz-option>
      </nz-select>
      <br><br>
      <button nz-button nzType="primary" (click)="exportToExcel()"><i nz-icon nzType="check-circle"
          nzTheme="outline"></i> 导出为 EXCEL >></button> -->
    </nz-tab>
  </nz-tabset>
</div>
