<div class="card-container">
  <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab [nzTitle]="titleTemplate">
      <ng-template #titleTemplate><i nz-icon nzType="form" style="color: coral"></i>数据列表</ng-template>

      <div *ngIf="value.dtNo === 'zxtb_k051_jsjbxx'">
        <app-stepprocess-tbjczx-zxtbk051-index [dataStr]="value"></app-stepprocess-tbjczx-zxtbk051-index>
      </div>

    </nz-tab>

    <nz-tab [nzTitle]="titleTemplate2">
      <ng-template #titleTemplate2><i nz-icon nzType="radar-chart" style="color: coral"></i>统计分析</ng-template>
      <div *ngIf="value.dtNo === 'zxtb_k051_jsjbxx'">
        <app-stepprocess-tbjczx-zxtbk051-chart [dataStr]="value"></app-stepprocess-tbjczx-zxtbk051-chart>
      </div>
    </nz-tab>

    <nz-tab [nzTitle]="titleTemplate5">
      <ng-template #titleTemplate5><i nz-icon nzType="select" style="color: coral"></i>数据导出</ng-template>
      <p><b>导出本表全部数据：</b></p>
      <br />
      <button nz-button [nzType]="'primary'" (click)="exportToExcel($event)">
        <i nz-icon nzType="check-circle" nzTheme="outline"></i> 导出为 EXCEL >>
      </button>
      <nz-modal [(nzVisible)]="isVisible" nzTitle="数据已导出请点击下载！" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <p style="align-content: center;">
          <button nz-button class="mr-sm" down-file [http-url]="downExcelUrl" [file-name]="value.dtName + '.xlsx'">
            {{ value.dtName }} <i nz-icon nzType="download" style="color:coral"></i>
          </button>
        </p>
      </nz-modal>
      <!-- <p><b>请选择要导出的数据字段：</b></p>
      <nz-select nzMode="tags" style="width: 100%;" (ngModelChange)="exportToExcel($event)" nzPlaceHolder="请选择数据字段！"
        id="outFields">
        <nz-option *ngFor="let option of listOfFields;let i=index" [nzLabel]="listOfFieldsZH[i]"
          [nzValue]="listOfFields[i]">
        </nz-option>
      </nz-select>
      <br><br>
      <button nz-button nzType="primary" (click)="exportToExcel()"><i nz-icon nzType="check-circle"
          nzTheme="outline"></i> 导出为 EXCEL >></button> -->
    </nz-tab>
  </nz-tabset>
</div>
