<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <!-- <button (click)="addInfo()" nz-button nzType="primary">新增数据表</button> -->
  </ng-template>
</page-header>
<nz-card>
  <nz-table #nzTable nzSize="middle" nzPageSize="7" [nzData]="listOfData" nzHideOnSinglePage="true">
    <thead>
      <tr>
        <th nzShowExpand nzwidth="3%"></th>
        <th>填报表名称</th>
        <th nzWidth="15%">数据表名称</th>
        <th nzWidth="5%" nzAlign="center">字段数</th>
        <th nzWidth="20%" nzAlign="center">最后修订时间</th>
        <th nzWidth="15%" nzAlign="center">操作</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="nzTable.data">
        <tr>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
          <td>{{ data.dtName }}</td>
          <td>{{ data.dtNo }}</td>
          <td nzAlign="center">{{ data.fieldsNum }}</td>
          <td nzAlign="center">{{ data.modTime }}</td>
          <td nzAlign="center">
            <button nz-button nzSize="small" nzType="default" (click)="viewInfo(data)">查看</button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzSize="small" nzType="default" (click)="editInfo(data)">修改</button>
          </td>
        </tr>
        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td></td>
          <td colspan="6">{{ data.descRules }}</td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</nz-card>
