<div class="card-container">
  <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab [nzTitle]="titleTemplate">
      <ng-template #titleTemplate><i nz-icon nzType="form" style="color: coral"></i>数据列表</ng-template>

      <div *ngIf="value.dtNo === 'zxtb_k01_ldxx'">
        <app-dashboard-dataup-zxtbk01-index [dataStr]="value"></app-dashboard-dataup-zxtbk01-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k021_xltr'">
        <app-dashboard-dataup-zxtbk021-index [dataStr]="value"></app-dashboard-dataup-zxtbk021-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k022_fxltr'">
        <app-dashboard-dataup-zxtbk022-index [dataStr]="value"></app-dashboard-dataup-zxtbk022-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k023_sqtr'">
        <app-dashboard-dataup-zxtbk023-index [dataStr]="value"></app-dashboard-dataup-zxtbk023-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k031_develop'">
        <app-dashboard-dataup-zxtbk031-index [dataStr]="value"></app-dashboard-dataup-zxtbk031-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k032_xlxt'">
        <app-dashboard-dataup-zxtbk032-index [dataStr]="value"></app-dashboard-dataup-zxtbk032-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k033_fxlxt'">
        <app-dashboard-dataup-zxtbk033-index [dataStr]="value"></app-dashboard-dataup-zxtbk033-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k034_sqxt'">
        <app-dashboard-dataup-zxtbk034-index [dataStr]="value"></app-dashboard-dataup-zxtbk034-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k051_jsjbxx'">
        <app-dashboard-dataup-zxtbk051-index [dataStr]="value"></app-dashboard-dataup-zxtbk051-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k052_jsjbqk'">
        <app-dashboard-dataup-zxtbk052-index [dataStr]="value"></app-dashboard-dataup-zxtbk052-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k053_gsprc'">
        <app-dashboard-dataup-zxtbk053-index [dataStr]="value"></app-dashboard-dataup-zxtbk053-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k061_glryxx'">
        <app-dashboard-dataup-zxtbk061-index [dataStr]="value"></app-dashboard-dataup-zxtbk061-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k062_fdyxx'">
        <app-dashboard-dataup-zxtbk062-index [dataStr]="value"></app-dashboard-dataup-zxtbk062-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k07_hzbx'">
        <app-dashboard-dataup-zxtbk07-index [dataStr]="value"></app-dashboard-dataup-zxtbk07-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k081_yjss'">
        <app-dashboard-dataup-zxtbk081-index [dataStr]="value"></app-dashboard-dataup-zxtbk081-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k082_yypt'">
        <app-dashboard-dataup-zxtbk082-index [dataStr]="value"></app-dashboard-dataup-zxtbk082-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k091_kypt'">
        <app-dashboard-dataup-zxtbk091-index [dataStr]="value"></app-dashboard-dataup-zxtbk091-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k092_kfjyyj'">
        <app-dashboard-dataup-zxtbk092-index [dataStr]="value"></app-dashboard-dataup-zxtbk092-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k093_shsqjy'">
        <app-dashboard-dataup-zxtbk093-index [dataStr]="value"></app-dashboard-dataup-zxtbk093-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k10_zyhbj'">
        <app-dashboard-dataup-zxtbk10-index [dataStr]="value"></app-dashboard-dataup-zxtbk10-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k111_kcjs'">
        <app-dashboard-dataup-zxtbk111-index [dataStr]="value"></app-dashboard-dataup-zxtbk111-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k112_web'">
        <app-dashboard-dataup-zxtbk112-index [dataStr]="value"></app-dashboard-dataup-zxtbk112-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k113_dzts'">
        <app-dashboard-dataup-zxtbk113-index [dataStr]="value"></app-dashboard-dataup-zxtbk113-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k12_sysj'">
        <app-dashboard-dataup-zxtbk12-index [dataStr]="value"></app-dashboard-dataup-zxtbk12-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k131_rcpygm'">
        <app-dashboard-dataup-zxtbk131-index [dataStr]="value"></app-dashboard-dataup-zxtbk131-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k132_fxlgm'">
        <app-dashboard-dataup-zxtbk132-index [dataStr]="value"></app-dashboard-dataup-zxtbk132-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k133_sqgm'">
        <app-dashboard-dataup-zxtbk133-index [dataStr]="value"></app-dashboard-dataup-zxtbk133-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k134_rcpy3l'">
        <app-dashboard-dataup-zxtbk134-index [dataStr]="value"></app-dashboard-dataup-zxtbk134-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k14_hjqkxs'">
        <app-dashboard-dataup-zxtbk14-index [dataStr]="value"></app-dashboard-dataup-zxtbk14-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k15_cdxm'">
        <app-dashboard-dataup-zxtbk15-index [dataStr]="value"></app-dashboard-dataup-zxtbk15-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k16_jxjx'">
        <app-dashboard-dataup-zxtbk16-index [dataStr]="value"></app-dashboard-dataup-zxtbk16-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k17_kycg'">
        <app-dashboard-dataup-zxtbk17-index [dataStr]="value"></app-dashboard-dataup-zxtbk17-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k18_gjyxl'">
        <app-dashboard-dataup-zxtbk18-index [dataStr]="value"></app-dashboard-dataup-zxtbk18-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k20_xfyh'">
        <app-dashboard-dataup-zxtbk20-index [dataStr]="value"></app-dashboard-dataup-zxtbk20-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k221_xlmyd'">
        <app-dashboard-dataup-zxtbk221-index [dataStr]="value"></app-dashboard-dataup-zxtbk221-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k222_fxlmyd'">
        <app-dashboard-dataup-zxtbk222-index [dataStr]="value"></app-dashboard-dataup-zxtbk222-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k223_sqmyd'">
        <app-dashboard-dataup-zxtbk223-index [dataStr]="value"></app-dashboard-dataup-zxtbk223-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k231_xwmt'">
        <app-dashboard-dataup-zxtbk231-index [dataStr]="value"></app-dashboard-dataup-zxtbk231-index>
      </div>
      <div *ngIf="value.dtNo === 'zxtb_k232_glory'">
        <app-dashboard-dataup-zxtbk232-index [dataStr]="value"></app-dashboard-dataup-zxtbk232-index>
      </div>
    </nz-tab>

    <nz-tab [nzTitle]="titleTemplate2">
      <ng-template #titleTemplate2><i nz-icon nzType="profile" style="color: coral"></i>填报规则</ng-template>
      <div [innerHTML]="description"></div>
    </nz-tab>
    <!-- <nz-tab [nzTitle]="titleTemplate1">
      <ng-template #titleTemplate1><i nz-icon nzType="import" style="color: coral"></i>统计报表</ng-template>
      <p>数据统计报表处理中...</p>
    </nz-tab> -->
    <!-- <nz-tab [nzTitle]="titleTemplate3">
      <ng-template #titleTemplate3><i nz-icon nzType="file-done" style="color: coral"></i>校验规则</ng-template>
      <div [innerHTML]="checkRules"></div>
    </nz-tab> -->
    <nz-tab [nzTitle]="titleTemplate4">
      <ng-template #titleTemplate4><i nz-icon nzType="table" style="color: coral"></i>样例数据</ng-template>
      <div [innerHTML]="tableTitle"></div>
    </nz-tab>
    <nz-tab [nzTitle]="titleTemplate5">
      <ng-template #titleTemplate5><i nz-icon nzType="select" style="color: coral"></i>数据导出</ng-template>
      <p><b>导出本表全部数据：</b></p>
      <br />
      <button nz-button [nzType]="'primary'" (click)="exportToExcel()">
        <i nz-icon nzType="check-circle" nzTheme="outline"></i> 导出为 EXCEL >>
      </button>
      <nz-modal [(nzVisible)]="isVisible" nzTitle="数据已导出请点击下载！" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <p style="align-content: center;">
          <button nz-button class="mr-sm" down-file [http-url]="downExcelUrl" [file-name]="value.dtName + '.xlsx'">
            {{ value.dtName }} <i nz-icon nzType="download" style="color:coral"></i>
          </button>
        </p>
      </nz-modal>
      <!-- <p><b>请选择要导出的数据字段：</b></p>
      <nz-select nzMode="tags" style="width: 100%;" (ngModelChange)="exportToExcel($event)" nzPlaceHolder="请选择数据字段！"
        id="outFields">
        <nz-option *ngFor="let option of listOfFields;let i=index" [nzLabel]="listOfFieldsZH[i]"
          [nzValue]="listOfFields[i]">
        </nz-option>
      </nz-select>
      <br><br>
      <button nz-button nzType="primary" (click)="exportToExcel()"><i nz-icon nzType="check-circle"
          nzTheme="outline"></i> 导出为 EXCEL >></button> -->
    </nz-tab>
  </nz-tabset>
</div>
