<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
  </ng-template>
</page-header>
<nz-card>
  <nz-table #nzTable nzSize="middle" [nzData]="listOfData" nzPageSize="6" nzHideOnSinglePage="true">
    <thead>
      <tr>
        <th nzShowExpand nzwidth="2%"></th>
        <th nzWidth="34%" nzAlign="center">评估类别及体系名称</th>
        <th nzWidth="9%" nzAlign="center">实施年月</th>
        <th nzWidth="6%" nzAlign="center">是否在用</th>
        <th nzWidth="11%" nzAlign="center">数据采集周期</th>
        <th nzWidth="12%" nzAlign="center">指标体系版本</th>
        <th nzAlign="center">操作</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="nzTable.data">
        <tr>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]"></td>
          <td><span style="color: darkgrey;">【{{ data.esType }}】</span><br>
            <span style="font-size: 1.1em;font-weight: bold;">{{ data.esName }}</span></td>
          <td nzAlign="center">{{ data.releaseDate }}</td>
          <td nzAlign="center">
            <span [ngClass]="{'text-danger':data.status==false}">{{ data.status?'在用':'停用' }}</span>
          </td>
          <td nzAlign="center">{{ data.dataFromDate }}<br>{{ data.dataEndDate }}</td>
          <td nzAlign="center">{{ data.verIndex }}</td>
          <td nzAlign="center">
            <button nz-button nzSize="small" nzType="primary" (click)="openComponent(data)">
              <i nz-icon nzType="setting" nzTheme="fill"></i>指标管理及设置
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzSize="small" nzType="default" (click)="openProfile(data)">
              <i nz-icon nzType="profile" nzTheme="fill" style="color: coral"></i> 内涵和观测点
            </button>
          </td>
        </tr>
        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td></td>
          <td colspan="8">最后一次修订时间：{{ data.lastModTime }}</td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</nz-card>
