<nz-card nzSize="small">
  <div nz-row>
    <div nz-col nzSpan="8">
      <button nz-button nzType="primary" nzSize="small" (click)="addData()">
        <i nz-icon nzType="plus-circle"></i> 新增 1 行</button>
    </div>
    <div nz-col nzSpan="16" style="text-align: right">
      <button nz-button class="mr-sm" nzType="link" nzSize="small" down-file
        http-url="http://139.224.62.102/assets/zxsj_mb/sjzxtb_k21_rcpygm.xlsx" file-name="表K21.人才培养—学生培养规模.xlsx">
        《表K21.人才培养—学生培养规模》模板下载 <i nz-icon nzType="download" style="color:coral"></i></button>
      <nz-upload [nzAction]="upUrl" (nzChange)="fupChange($event)">
        <button nz-button nzSize="small" nzType="primary"><i nz-icon nzType="upload"></i><span>数据导入</span></button>
      </nz-upload>
    </div>
  </div>
</nz-card>
<nz-table #editRowTable nzBordered [nzData]="listOfData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr>
      <th nzWidth="120px" nzAlign="center">年度</th>
      <th nzWidth="200px" nzAlign="center">学校代码</th>
      <th nzWidth="260px" nzAlign="center">学校名称</th>
      <th nzWidth="250px" nzAlign="center"><b>在籍学生数</b></th>
      <th nzWidth="250px" nzAlign="center"><b>当年度招生数</b></th>
      <th nzWidth="100px" nzAlign="center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else ndInputTpl">
          {{ data.nd }} 年
        </ng-container>
        <ng-template #ndInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.nd" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xxdmInputTpl">
          {{ data.xxdm }}
        </ng-container>
        <ng-template #xxdmInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xxdm" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xxmcInputTpl">
          {{ data.xxmc }}
        </ng-container>
        <ng-template #xxmcInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xxmc" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else zjxssInputTpl">
          {{ data.zjxss }}
        </ng-container>
        <ng-template #zjxssInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.zjxss" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else dndzssInputTpl">
          {{ data.dndzss }}
        </ng-container>
        <ng-template #dndzssInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.dndzss" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <div class="editable-row-operations">
          <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">修改</a>
            <nz-divider nzType="vertical"></nz-divider>
            <!-- <a (click)="dataDelete(data.id)">删除</a> -->
            <a nz-popconfirm nzTitle="确认删除该条数据?" (nzOnConfirm)="dataDelete(data.id)">删除</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">保存</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认取消?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
