<div class="card-container">
  <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab [nzTitle]="titleTemplate">
      <ng-template #titleTemplate><i nz-icon nzType="form" style="color: coral"></i>数据列表</ng-template>

      <div *ngIf="value.dtNo==='sjzxtb_k01_ldxx'">
        <app-dashboard-dataup-zxtbk01-index [dataStr]="value"></app-dashboard-dataup-zxtbk01-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k04_jftr'">
        <app-dashboard-dataup-zxtbk04-index [dataStr]="value"></app-dashboard-dataup-zxtbk04-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k06_bxxt'">
        <app-dashboard-dataup-zxtbk06-index [dataStr]="value"></app-dashboard-dataup-zxtbk06-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k07_xxzmyd'">
        <app-dashboard-dataup-zxtbk07-index [dataStr]="value"></app-dashboard-dataup-zxtbk07-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k08_cwgl'">
        <app-dashboard-dataup-zxtbk08-index [dataStr]="value"></app-dashboard-dataup-zxtbk08-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k09_jsjbxx'">
        <app-dashboard-dataup-zxtbk09-index></app-dashboard-dataup-zxtbk09-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k10_glryxx'">
        <app-dashboard-dataup-zxtbk10-index [dataStr]="value"></app-dashboard-dataup-zxtbk10-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k10_fdyxx'">
        <app-dashboard-dataup-zxtbk102-index></app-dashboard-dataup-zxtbk102-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k11_jsjbqk'">
        <app-dashboard-dataup-zxtbk11-index [dataStr]="value"></app-dashboard-dataup-zxtbk11-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k121_gsptd'">
        <app-dashboard-dataup-zxtbk121-index [dataStr]="value"></app-dashboard-dataup-zxtbk121-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k122_gsprc'">
        <app-dashboard-dataup-zxtbk122-index [dataStr]="value"></app-dashboard-dataup-zxtbk122-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k13_hzbx'">
        <app-dashboard-dataup-zxtbk13-index [dataStr]="value"></app-dashboard-dataup-zxtbk13-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k141_kfjyyj'">
        <app-dashboard-dataup-zxtbk141-index></app-dashboard-dataup-zxtbk141-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k142_shsqjy'">
        <app-dashboard-dataup-zxtbk142-index [dataStr]="value"></app-dashboard-dataup-zxtbk142-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k15_yjss'">
        <app-dashboard-dataup-zxtbk15-index [dataStr]="value"></app-dashboard-dataup-zxtbk15-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k15_web'">
        <app-dashboard-dataup-zxtbk152-index [dataStr]="value"></app-dashboard-dataup-zxtbk152-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k15_mob'">
        <app-dashboard-dataup-zxtbk153-index [dataStr]="value"></app-dashboard-dataup-zxtbk153-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k16_jxkypt'">
        <app-dashboard-dataup-zxtbk16-index [dataStr]="value"></app-dashboard-dataup-zxtbk16-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k17_sysxjs'">
        <app-dashboard-dataup-zxtbk17-index [dataStr]="value"></app-dashboard-dataup-zxtbk17-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k18_dzts'">
        <app-dashboard-dataup-zxtbk18-index [dataStr]="value"></app-dashboard-dataup-zxtbk18-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k19_zyhbj'">
        <app-dashboard-dataup-zxtbk19-index [dataStr]="value"></app-dashboard-dataup-zxtbk19-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k20_kcjs'">
        <app-dashboard-dataup-zxtbk20-index [dataStr]="value"></app-dashboard-dataup-zxtbk20-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k21_rcpygm'">
        <app-dashboard-dataup-zxtbk21-index></app-dashboard-dataup-zxtbk21-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k22_hjqkxs'">
        <app-dashboard-dataup-zxtbk22-index [dataStr]="value"></app-dashboard-dataup-zxtbk22-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k23_rcpy3l'">
        <app-dashboard-dataup-zxtbk23-index [dataStr]="value"></app-dashboard-dataup-zxtbk23-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k24_cdxm'">
        <app-dashboard-dataup-zxtbk24-index [dataStr]="value"></app-dashboard-dataup-zxtbk24-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k25_jxcgj'">
        <app-dashboard-dataup-zxtbk25-index [dataStr]="value"></app-dashboard-dataup-zxtbk25-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k26_sbjhykyj'">
        <app-dashboard-dataup-zxtbk26-index [dataStr]="value"></app-dashboard-dataup-zxtbk26-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k27_kfjygjyxl'">
        <app-dashboard-dataup-zxtbk27-index [dataStr]="value"></app-dashboard-dataup-zxtbk27-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k28_ssgjjl'">
        <app-dashboard-dataup-zxtbk28-index [dataStr]="value"></app-dashboard-dataup-zxtbk28-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k30_xfyh'">
        <app-dashboard-dataup-zxtbk30-index [dataStr]="value"></app-dashboard-dataup-zxtbk30-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k31_shfuks'">
        <app-dashboard-dataup-zxtbk31-index [dataStr]="value"></app-dashboard-dataup-zxtbk31-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k32_bxsyxxzmyd'">
        <app-dashboard-dataup-zxtbk32-index [dataStr]="value"></app-dashboard-dataup-zxtbk32-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k33_zxdrkd'">
        <app-dashboard-dataup-zxtbk33-index [dataStr]="value"></app-dashboard-dataup-zxtbk33-index>
      </div>
    </nz-tab>

    <nz-tab [nzTitle]="titleTemplate2">
      <ng-template #titleTemplate2><i nz-icon nzType="profile" style="color: coral"></i>填报规则</ng-template>
      <div [innerHTML]="description"></div>
    </nz-tab>
    <nz-tab [nzTitle]="titleTemplate1">
      <ng-template #titleTemplate1><i nz-icon nzType="import" style="color: coral"></i>统计报表</ng-template>
      <p>请等待数据处理结果...</p>
    </nz-tab>
    <!-- <nz-tab [nzTitle]="titleTemplate3">
      <ng-template #titleTemplate3><i nz-icon nzType="file-done" style="color: coral"></i>校验规则</ng-template>
      <div [innerHTML]="checkRules"></div>
    </nz-tab> -->
    <nz-tab [nzTitle]="titleTemplate4">
      <ng-template #titleTemplate4><i nz-icon nzType="table" style="color: coral"></i>样例数据</ng-template>
      <div [innerHTML]="tableTitle"></div>
    </nz-tab>
    <nz-tab [nzTitle]="titleTemplate5">
      <ng-template #titleTemplate5><i nz-icon nzType="select" style="color: coral"></i>数据导出</ng-template>
      <p><b>请选择要导出的数据字段：</b></p>
      <nz-select nzMode="tags" style="width: 100%;" (ngModelChange)="exportToExcel($event)" nzPlaceHolder="请选择数据字段！"
        id="outFields">
        <nz-option *ngFor="let option of listOfFields;let i=index" [nzLabel]="listOfFieldsZH[i]"
          [nzValue]="listOfFields[i]">
        </nz-option>
      </nz-select>
      <br><br>
      <button nz-button nzType="primary" (click)="exportToExcel()"><i nz-icon nzType="check-circle"
          nzTheme="outline"></i> 导出为 EXCEL
        >></button>
    </nz-tab>
  </nz-tabset>
</div>
