<div class="card-container">
  <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab [nzTitle]="titleTemplate">
      <ng-template #titleTemplate><i nz-icon nzType="form" style="color: coral"></i>数据列表</ng-template>

      <div *ngIf="value.dtNo==='sjzxtb_k01_ldxx'">
        <app-dashboard-dataup-zxtbk01-index></app-dashboard-dataup-zxtbk01-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k04_jftr'">
        <app-dashboard-dataup-zxtbk04-index></app-dashboard-dataup-zxtbk04-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k06_bxxt'">
        <app-dashboard-dataup-zxtbk06-index></app-dashboard-dataup-zxtbk06-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k07_xxzmyd'">
        <app-dashboard-dataup-zxtbk07-index></app-dashboard-dataup-zxtbk07-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k08_cwgl'">
        <app-dashboard-dataup-zxtbk08-index></app-dashboard-dataup-zxtbk08-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k09_jsjbxx'">
        <app-dashboard-dataup-zxtbk09-index></app-dashboard-dataup-zxtbk09-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k10_glryxx'">
        <app-dashboard-dataup-zxtbk10-index></app-dashboard-dataup-zxtbk10-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k11_jsjbqk'">
        <app-dashboard-dataup-zxtbk11-index></app-dashboard-dataup-zxtbk11-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k141_kfjyyj'">
        <app-dashboard-dataup-zxtbk141-index></app-dashboard-dataup-zxtbk141-index>
      </div>
      <div *ngIf="value.dtNo==='sjzxtb_k142_shsqjy'">
        <app-dashboard-dataup-zxtbk142-index></app-dashboard-dataup-zxtbk142-index>
      </div>

    </nz-tab>

    <nz-tab [nzTitle]="titleTemplate1">
      <ng-template #titleTemplate1><i nz-icon nzType="import" style="color: coral"></i>数据导入</ng-template>

      <div *ngIf="value.dtNo==='sjzxtb_k09_jsjbxx'">
        <button nz-button class="mr-sm" down-file http-url="http://localhost:4200/assets/zxsj_mb/sjzxtb_k09_jsjbxx.xlsx"
          file-name="表K09.总校教师基本信息.xlsx">
          <i nz-icon nzType="download"></i> 《总校教师基本信息》模板下载</button>

        <nz-divider nzType="vertical"></nz-divider>
        <nz-upload
          nzAction="/api/excel/import?tableName=sjzxtb_k09_jsjbxx&appId=17&stepId=21&deptId={{loadUser.user.bid}}"
          (nzChange)="fupChange($event)">
          <button nz-button nzType="primary"><i nz-icon nzType="upload"></i><span>数据导入</span></button>
        </nz-upload>
      </div>

      <div *ngIf="value.dtNo==='sjzxtb_k10_glryxx'">
        <button nz-button class="mr-sm" down-file http-url="http://localhost:4200/assets/zxsj_mb/sjzxtb_k10_glryxx.xlsx"
          file-name="表K10.管理人员基本信息.xlsx">
          <i nz-icon nzType="download"></i> 《管理人员基本信息》模板下载</button>
        <nz-divider nzType="vertical"></nz-divider>
        <nz-upload
          nzAction="/api/excel/import?tableName=sjzxtb_k10_glryxx&appId=17&stepId=21&deptId={{loadUser.user.bid}}"
          (nzChange)="fupChange($event)">
          <button nz-button nzType="primary"><i nz-icon nzType="upload"></i><span>数据导入</span></button>
        </nz-upload>
      </div>

    </nz-tab>

    <nz-tab [nzTitle]="titleTemplate2">
      <ng-template #titleTemplate2><i nz-icon nzType="profile" style="color: coral"></i>填报规则</ng-template>
      <p>{{descRules}}</p>
    </nz-tab>

    <nz-tab [nzTitle]="titleTemplate3">
      <ng-template #titleTemplate3><i nz-icon nzType="file-done" style="color: coral"></i>校验规则</ng-template>
      <p>{{checkRules}}</p>
    </nz-tab>

    <nz-tab [nzTitle]="titleTemplate4">
      <ng-template #titleTemplate4><i nz-icon nzType="table" style="color: coral"></i>样例数据</ng-template>
      <p>{{tableHtml}}</p>
    </nz-tab>

    <nz-tab [nzTitle]="titleTemplate5">
      <ng-template #titleTemplate5><i nz-icon nzType="select" style="color: coral"></i>数据导出</ng-template>
      <p>loading... </p>
    </nz-tab>
  </nz-tabset>
</div>
