<div class="card-container">
  <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab [nzTitle]="titleTemplate">
      <ng-template #titleTemplate><i nz-icon nzType="form" style="color: coral"></i>数据列表</ng-template>

      <div *ngIf="value.dtNo === 'sjfxtb_b01_ldxx'">
        <app-dashboard-dataup-fxtbb01-index [dataStr]="value"></app-dashboard-dataup-fxtbb01-index>
      </div>
      <div *ngIf="value.dtNo === 'sjfxtb_b01_jftr'">
        <app-dashboard-dataup-fxtbb012-index [dataStr]="value"></app-dashboard-dataup-fxtbb012-index>
      </div>
      <div *ngIf="value.dtNo === 'sjfxtb_b02_jsjbqk'">
        <app-dashboard-dataup-fxtbb02-index [dataStr]="value"></app-dashboard-dataup-fxtbb02-index>
      </div>
      <div *ngIf="value.dtNo === 'sjfxtb_b03_jsjbxx'">
        <app-dashboard-dataup-fxtbb09-index [dataStr]="value"></app-dashboard-dataup-fxtbb09-index>
      </div>
      <div *ngIf="value.dtNo === 'sjfxtb_b04_glryxx'">
        <app-dashboard-dataup-fxtbb10-index [dataStr]="value"></app-dashboard-dataup-fxtbb10-index>
      </div>
      <div *ngIf="value.dtNo === 'sjfxtb_b05_fdyxx'">
        <app-dashboard-dataup-fxtbb102-index [dataStr]="value"></app-dashboard-dataup-fxtbb102-index>
      </div>
      <div *ngIf="value.dtNo === 'sjfxtb_b06_gsptd'">
        <app-dashboard-dataup-fxtbb121-index [dataStr]="value"></app-dashboard-dataup-fxtbb121-index>
      </div>
      <div *ngIf="value.dtNo === 'sjfxtb_b07_gsprc'">
        <app-dashboard-dataup-fxtbb122-index [dataStr]="value"></app-dashboard-dataup-fxtbb122-index>
      </div>
      <div *ngIf="value.dtNo === 'sjfxtb_b08_hzbx'">
        <app-dashboard-dataup-fxtbb13-index [dataStr]="value"></app-dashboard-dataup-fxtbb13-index>
      </div>
      <div *ngIf="value.dtNo === 'sjfxtb_b08_jxkypt'">
        <app-dashboard-dataup-fxtbb16-index [dataStr]="value"></app-dashboard-dataup-fxtbb16-index>
      </div>
      <div *ngIf="value.dtNo === 'sjzxtb_k141_kfjyyj'">
        <app-dashboard-dataup-fxtbb141-index [dataStr]="value"></app-dashboard-dataup-fxtbb141-index>
      </div>
      <div *ngIf="value.dtNo === 'sjzxtb_k142_shsqjy'">
        <app-dashboard-dataup-fxtbb142-index [dataStr]="value"></app-dashboard-dataup-fxtbb142-index>
      </div>
      <div *ngIf="value.dtNo === 'sjfxtb_b09_yjss'">
        <app-dashboard-dataup-fxtbb15-index [dataStr]="value"></app-dashboard-dataup-fxtbb15-index>
      </div>
      <div *ngIf="value.dtNo === 'sjzxtb_k15_web'">
        <app-dashboard-dataup-fxtbb152-index [dataStr]="value"></app-dashboard-dataup-fxtbb152-index>
      </div>
      <div *ngIf="value.dtNo === 'sjfxtb_b10_mob'">
        <app-dashboard-dataup-fxtbb153-index [dataStr]="value"></app-dashboard-dataup-fxtbb153-index>
      </div>
      <div *ngIf="value.dtNo === 'sjfxtb_b11_sysx'">
        <app-dashboard-dataup-fxtbb17-index [dataStr]="value"></app-dashboard-dataup-fxtbb17-index>
      </div>
      <div *ngIf="value.dtNo === 'sjzxtb_k18_dzts'">
        <app-dashboard-dataup-fxtbb18-index [dataStr]="value"></app-dashboard-dataup-fxtbb18-index>
      </div>
      <div *ngIf="value.dtNo === 'sjzxtb_k22_hjqkxs'">
        <app-dashboard-dataup-fxtbb22-index [dataStr]="value"></app-dashboard-dataup-fxtbb22-index>
      </div>
      <div *ngIf="value.dtNo === 'sjzxtb_k23_rcpy3l'">
        <app-dashboard-dataup-fxtbb23-index [dataStr]="value"></app-dashboard-dataup-fxtbb23-index>
      </div>
      <div *ngIf="value.dtNo === 'sjzxtb_k25_jxcgj'">
        <app-dashboard-dataup-fxtbb25-index [dataStr]="value"></app-dashboard-dataup-fxtbb25-index>
      </div>
    </nz-tab>

    <nz-tab [nzTitle]="titleTemplate2">
      <ng-template #titleTemplate2><i nz-icon nzType="profile" style="color: coral"></i>填报规则</ng-template>
      <div [innerHTML]="description"></div>
    </nz-tab>
    <nz-tab [nzTitle]="titleTemplate1">
      <ng-template #titleTemplate1><i nz-icon nzType="import" style="color: coral"></i>统计报表</ng-template>
      <p>数据统计报表处理中...</p>
    </nz-tab>
    <!-- <nz-tab [nzTitle]="titleTemplate3">
      <ng-template #titleTemplate3><i nz-icon nzType="file-done" style="color: coral"></i>校验规则</ng-template>
      <div [innerHTML]="checkRules"></div>
    </nz-tab> -->
    <!-- <nz-tab [nzTitle]="titleTemplate4">
      <ng-template #titleTemplate4><i nz-icon nzType="table" style="color: coral"></i>样例数据</ng-template>
      <div [innerHTML]="tableTitle"></div>
    </nz-tab> -->
    <nz-tab [nzTitle]="titleTemplate5">
      <ng-template #titleTemplate5><i nz-icon nzType="select" style="color: coral"></i>数据导出</ng-template>
      <!-- <p><b>请选择要导出的数据字段：</b></p>
      <nz-select nzMode="tags" style="width: 100%;" nzPlaceHolder="请选择数据字段！" [(ngModel)]="listOfSelFlds"
        (ngModelChange)="selOutFldsToExcel($event)">
        <nz-option *ngFor="let option of listOfFields;let i=index" [nzLabel]="listOfFieldsZH[i]"
          [nzValue]="listOfFields[i]">
        </nz-option>
      </nz-select> -->
      <p><b>导出本表全部数据：</b></p>
      <br />
      <button nz-button [nzType]="'primary'" (click)="exportToExcel()">
        <i nz-icon nzType="check-circle" nzTheme="outline"></i> 导出为 EXCEL >>
      </button>
      <nz-modal [(nzVisible)]="isVisible" nzTitle="数据已导出请点击下载！" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <p style="align-content: center;">
          <button nz-button class="mr-sm" down-file [http-url]="downExcelUrl" [file-name]="value.dtName + '.xlsx'">
            {{ value.dtName }} <i nz-icon nzType="download" style="color:coral"></i>
          </button>
        </p>
      </nz-modal>
    </nz-tab>
  </nz-tabset>
</div>
