<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="addInfo()" nz-button nzType="primary">
      <i nz-icon nzType="plus-circle" nzTheme="fill"></i>
      评估工作</button>
  </ng-template>
</page-header>
<nz-card>
  <nz-table #nzTable nzSize="middle" [nzData]="listOfData" nzPageSize="5" nzHideOnSinglePage="true">
    <thead>
      <tr>
        <th nzWidth="4%" nzAlign="center">年份</th>
        <th nzWidth="28%" nzAlign="center">评估类别及任务名称</th>
        <th nzWidth="9%" nzAlign="center">起讫时间</th>
        <th nzWidth="9%" nzAlign="center">评估周期</th>
        <th nzAlign="center" nzWidth="32%">适用评估指标体系版本</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="nzTable.data">
        <tr>
          <td nzAlign="center">{{ data.inTime.substring(0,4) }}</td>
          <td>
            <span style="font-size: 1.1em;font-weight: bold;">{{ data.appName }}</span><br>
            <span style="color: darkgrey;">【{{ data.esType }}】</span>
          </td>
          <td nzAlign="center">{{ data.startDate }}<br>{{ data.endDate }}</td>
          <td nzAlign="center">{{ data.dataFromDate }}<br>{{ data.dataEndDate }}</td>
          <td>{{ data.esName }}<br>【{{ data.verIndex }}】</td>
          <td nzAlign="center">
            <button nz-button nzSize="small" nzType="primary" (click)="openStepInfo(data)">
              <i nz-icon nzType="hdd" nzTheme="fill"></i>阶段安排</button>
            <button nz-button nzSize="small" nzType="default" (click)="editInfo(data)">
              <i nz-icon nzType="edit" style="color:coral" nzTheme="fill"></i>编辑</button>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</nz-card>
