<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="addInfo()" nz-button nzType="primary">
      <i nz-icon nzType="plus-circle" nzTheme="fill"></i>
      评估工作</button>
  </ng-template>
</page-header>
<nz-card>
  <nz-table #nzTable nzSize="middle" [nzData]="listOfData" nzPageSize="5" nzHideOnSinglePage="true">
    <thead>
      <tr>
        <th nzWidth="4%" nzAlign="center">年份</th>
        <th nzWidth="10%" nzAlign="center">评估类别</th>
        <th nzWidth="25%">评估名称</th>
        <th nzWidth="7%" nzAlign="center">起讫时间</th>
        <th nzWidth="7%" nzAlign="center">评估周期</th>
        <th nzWidth="29%" nzAlign="center">适用评估指标体系版本</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="nzTable.data">
        <tr>
          <td nzAlign="center">{{ data.inTime.substring(0,4) }}</td>
          <td nzAlign="center">{{ data.esType }}</td>
          <td>{{ data.appName }}</td>
          <td nzAlign="center">{{ data.startDate }}<br>{{ data.endDate }}</td>
          <td nzAlign="center">{{ data.dataFromDate }}<br>{{ data.dataEndDate }}</td>
          <td>{{ data.esName }}<br>【{{ data.verIndex }}】</td>
          <td>
            <button nz-button nzSize="middle" nzType="default" (click)="openStepInfo(data)">
              <i nz-icon nzType="ordered-list" style="color:coral"></i>阶段安排</button>
            <button nz-button nzSize="middle" nzType="default" (click)="editInfo(data)">
              <i nz-icon nzType="form" style="color:coral"></i>编辑</button>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</nz-card>
