<nz-card nzSize="small">
  <div nz-row>
    <div nz-col nzSpan="8">
      <button nz-button nzType="primary" nzSize="small" (click)="addData()">
        <i nz-icon nzType="plus-circle"></i> 新增 1 行</button>
    </div>
    <div nz-col nzSpan="16" style="text-align: right">
      <button nz-button class="mr-sm" nzType="link" nzSize="small" down-file
        http-url="http://localhost:4200/assets/fxsj_mb/sjzxtb_k25_jxcgj.xlsx" file-name="表14.教师获奖情况.xlsx">
        《表14.教师获奖情况》模板下载 <i nz-icon nzType="download" style="color:coral"></i></button>
      <nz-upload [nzAction]="upUrl" (nzChange)="fupChange($event)">
        <button nz-button nzSize="small" nzType="primary"><i nz-icon nzType="upload"></i><span>数据导入</span></button>
      </nz-upload>
    </div>
  </div>
</nz-card>
<nz-table #editRowTable nzBordered [nzData]="listOfData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr style="background: linen">
      <th nzAlign="center" nzWidth="110px">年度</th>
      <th nzWidth="120px" nzAlign="center">学校代码</th>
      <th nzWidth="150px" nzAlign="center">学校名称</th>
      <th nzAlign="center" nzWidth="120px"><b>教师姓名</b></th>
      <th nzAlign="center" nzWidth="100px"><b>职工号</b></th>
      <th nzAlign="center" nzWidth="300px"><b>奖项名称</b></th>
      <th nzAlign="center" nzWidth="120px"><b>奖项类别</b></th>
      <th nzWidth="100px" nzAlign="center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else ndInputTpl">
          {{ data.nd }} 年
        </ng-container>
        <ng-template #ndInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.nd" [nzMin]="0" [nzStep]="1" nzSize="4">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        {{ data.xxdm }}
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xxmcInputTpl">
          {{ data.xxmc }}
        </ng-container>
        <ng-template #xxmcInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xxmc" />
        </ng-template>
      </td>
      <!-- id,nd,xxdm,xxmc,jsxm,zgh,jxmc,jxlb-->
      <!-- id,年度,学校代码,学校名称,教师姓名,工号,奖项（荣誉）名称,奖项类别-->
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else jsxmInputTpl">
          {{ data.jsxm }}
        </ng-container>
        <ng-template #jsxmInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.jsxm" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else zghInputTpl">
          {{ data.zgh }}
        </ng-container>
        <ng-template #zghInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.zgh" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else jxmcInputTpl">
          {{ data.jxmc }}
        </ng-container>
        <ng-template #jxmcInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.jxmc" />
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else jxlbInputTpl">
          {{ data.jxlb }}
        </ng-container>
        <ng-template #jxlbInputTpl>
          <!-- <input type="text" nz-input [(ngModel)]="editCache[data.id].data.jxlb" /> -->
          <nz-select style="width: 120px;" [(ngModel)]="editCache[data.id].data.jxlb" nzAllowClear nzPlaceHolder="奖项类别">
            <nz-option nzValue="教育部" nzLabel="教育部"></nz-option>
            <nz-option nzValue="上海市" nzLabel="上海市"></nz-option>
            <nz-option nzValue="行业" nzLabel="行业"></nz-option>
          </nz-select>
        </ng-template>
      </td>

      <td nzAlign="center">
        <div class="editable-row-operations">
          <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">修改</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认删除该条数据?" (nzOnConfirm)="dataDelete(data.id)">删除</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">保存</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认取消?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
