<nz-table #editRowTable nzBordered [nzData]="listOfData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr style="background-color: linen">
      <th nzAlign="center" nzWidth="12%"><b>年度 </b></th>
      <th nzAlign="center" nzWidth="15%"><b>科研课题立项数</b></th>
      <th nzAlign="center" nzWidth="15%"><b>当年结题数</b></th>
      <th nzAlign="center" nzWidth="15%"><b>当年参与课题数</b></th>
      <th nzAlign="center" nzWidth="15%"><b>《上海社区教育》投稿数</b></th>
      <th nzAlign="center" nzWidth="15%"><b>《上海社区教育》录用数</b></th>
      <th nzAlign="center" nzWidth="10%">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else ndInputTpl">
          {{ data.nd }} 年
        </ng-container>
        <ng-template #ndInputTpl>
          <nz-input-number style="width: 7em" [(ngModel)]="editCache[data.id].data.nd" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else kyktlxsInputTpl">
          {{ data.kyktlxs }}
        </ng-container>
        <ng-template #kyktlxsInputTpl>
          <nz-input-number style="width: 8em" [(ngModel)]="editCache[data.id].data.kyktlxs" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else dnjtsInputTpl">
          {{ data.dnjts }}
        </ng-container>
        <ng-template #dnjtsInputTpl>
          <nz-input-number style="width: 8em" [(ngModel)]="editCache[data.id].data.dnjts" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else dncyktsInputTpl">
          {{ data.dncykts }}
        </ng-container>
        <ng-template #dncyktsInputTpl>
          <nz-input-number style="width: 8em" [(ngModel)]="editCache[data.id].data.dncykts" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else sqjy_tgsInputTpl">
          {{ data.sqjy_tgs }}
        </ng-container>
        <ng-template #sqjy_tgsInputTpl>
          <nz-input-number style="width: 8em" [(ngModel)]="editCache[data.id].data.sqjy_tgs" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else sqjy_lysInputTpl">
          {{ data.sqjy_lys }}
        </ng-container>
        <ng-template #sqjy_lysInputTpl>
          <nz-input-number style="width: 8em" [(ngModel)]="editCache[data.id].data.sqjy_lys" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <div *ngIf="data.islock === 0" class="editable-row-operations">
          <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">修改</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">保存</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认取消?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
