<nz-card  *ngIf="loadUser.user.unitNo==='S01'" nzSize="small">
  <div nz-row>
    <div nz-col nzSpan="8">
      <button nz-button nzType="primary" nzSize="small" (click)="addData()">
        <i nz-icon nzType="plus-circle"></i> 新增 1 行</button>
      <nz-divider nzType="vertical"></nz-divider>
      <button nz-button nzType="danger" nzSize="small" (click)="deleteConfirm()">
        <i nz-icon nzType="delete"></i> 清空本次填报数据</button>
    </div>
    <div nz-col nzSpan="16" style="text-align: right">
      <button nz-button class="mr-sm" nzType="link" nzSize="small" down-file
        http-url="http://139.224.62.102/assets/fxsj_mb/{{ dataStr.dtNo }}.xlsx" file-name="{{ dataStr.dtName }}.xlsx">
        {{ dataStr.dtName }}模板下载 <i nz-icon nzType="download" style="color:coral"></i>
      </button>
      <nz-upload [nzAction]="upUrl" (nzChange)="fupChange($event)">
        <button nz-button nzSize="small" nzType="primary"><i nz-icon nzType="upload"></i><span>数据导入</span></button>
      </nz-upload>
    </div>
  </div>
</nz-card>
<nz-table #editRowTable nzBordered [nzData]="listOfData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr style="background: linen">
      <th nzAlign="center" nzWidth="9%">年度</th>
      <th nzAlign="center" nzWidth="7%">学期</th>
      <th nzAlign="center">课程名称</th>
      <th nzAlign="center" nzWidth="10%">建设类型</th>
      <th nzAlign="center" nzWidth="12%">类别</th>
      <th nzAlign="center" nzWidth="15%">使用率<br>应完成人次</th>
      <th nzAlign="center" nzWidth="15%">使用率<br>实际完成人次</th>
      <th nzWidth="9%" nzAlign="center" *ngIf="loadUser.user.unitNo==='S01'">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else ndInputTpl">
          {{ data.nd }} 年
        </ng-container>
        <ng-template #ndInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.nd" [nzMin]="0" [nzStep]="1" nzSize="4">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else xqInputTpl">
          {{ data.xq }}
        </ng-container>
        <ng-template #xqInputTpl>
          <!-- <input type="text" nz-input [(ngModel)]="editCache[data.id].data.xq" /> -->
          <nz-select style="width: 90px;" [(ngModel)]="editCache[data.id].data.xq" nzAllowClear nzPlaceHolder="学期">
            <nz-option nzValue="春" nzLabel="春"></nz-option>
            <nz-option nzValue="秋" nzLabel="秋"></nz-option>
          </nz-select>

        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else kcmcInputTpl">
          {{ data.kcmc }}
        </ng-container>
        <ng-template #kcmcInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.kcmc" />
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else lxInputTpl">
          {{ data.lx }}
        </ng-container>
        <ng-template #lxInputTpl>
          <nz-select style="width: 100px;" [(ngModel)]="editCache[data.id].data.lx" nzAllowClear nzPlaceHolder="类型">
            <nz-option nzValue="自建" nzLabel="自建"></nz-option>
            <nz-option nzValue="总校" nzLabel="总校"></nz-option>
            <nz-option nzValue="社会" nzLabel="社会"></nz-option>
          </nz-select>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else lbInputTpl">
          {{ data.lb }}
        </ng-container>
        <ng-template #lbInputTpl>
          <nz-select style="width: 130px;" [(ngModel)]="editCache[data.id].data.lb" nzAllowClear nzPlaceHolder="类别">
            <nz-option nzValue="课程实践" nzLabel="课程实践"></nz-option>
            <nz-option nzValue="社会实践" nzLabel="社会实践"></nz-option>
            <nz-option nzValue="毕业设计(论文)" nzLabel="毕业设计(论文)"></nz-option>
          </nz-select>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else ywcrcInputTpl">
          {{ data.ywcrc }}
        </ng-container>
        <ng-template #ywcrcInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.ywcrc" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else sjwcrcInputTpl">
          {{ data.sjwcrc }}
        </ng-container>
        <ng-template #sjwcrcInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.sjwcrc" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center" *ngIf="loadUser.user.unitNo==='S01'">
        <div *ngIf="data.islock === 0" class="editable-row-operations">
          <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">修改</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认删除该条数据?" (nzOnConfirm)="dataDelete(data.id)">删除</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">保存</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认取消?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
