<div nz-row nzGutter="8">
  <nz-collapse [nzBordered]="false">
    <nz-collapse-panel *ngFor="let panel of listOfData" [nzHeader]="panelHead" [nzActive]="panel.active"
      [nzExtra]="extraTpl" nzDisabled="false" nzShowArrow="false"
      [nzExpandedIcon]="!isFirst && (panel.icon || expandedIcon)" style="border: 0px;">
      <div *ngIf="panel.isLeaf" nz-row nzGutter="8">
        <div nz-col [nzSpan]="10">
          <span *ngIf="panel.isStar">
            <nz-tag [nzColor]="'#f50'">关键指标</nz-tag>&nbsp;&nbsp;
          </span>
          <span *ngIf="!panel.isStar">
            <nz-tag [nzColor]="'#2db7f5'">常规指标</nz-tag>
          </span>
          <span *ngIf="panel.idKind === 'xx'">
            <nz-tag [nzColor]="'orange'">全局指标</nz-tag>
          </span>
          <span *ngIf="panel.idKind === 'xl'">
            <nz-tag [nzColor]="'orange'">学历教育指标</nz-tag>
          </span>
          <span *ngIf="panel.idKind === 'fxl'">
            <nz-tag [nzColor]="'blue'">非学历教育指标</nz-tag>
          </span>
          <span *ngIf="panel.idKind === 'sq'">
            <nz-tag [nzColor]="'green'">社区教育指标</nz-tag>
          </span>
        </div>
        <div nz-col [nzSpan]="14" style="margin:0;text-align: right;height: 2.0em;">
          <span *ngIf="panel.psmodtime">
            <i nz-icon nzType="clock-circle" style="color:rgb(97, 173, 21);"></i>
            已评分：
            <nz-tag *ngIf="panel.pspoint==='A'" [nzColor]="'#f50'">A</nz-tag>
            <nz-tag *ngIf="panel.pspoint==='B'" [nzColor]="'#f50'">B</nz-tag>
            <nz-tag *ngIf="panel.pspoint==='C'" [nzColor]="'#f50'">C</nz-tag>
            <nz-tag *ngIf="panel.pspoint==='D'" [nzColor]="'#f50'">D</nz-tag>
          </span>
          <span *ngIf="!panel.psmodtime" style="color:crimson;">
            <i nz-icon nzType="info-circle" style="color:crimson;"></i>
            未评分</span>
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzSize="small" nzType="primary" style="background-color: coral;border: 0;"
            (click)="openEdit(panel)" nzTooltipTitle="指标打分及录入反馈意见" nzTooltipPlacement="topCenter" nz-tooltip>
            <i nz-icon nzType="edit" nzTheme="fill"></i>评分反馈
          </button>
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzSize="small" nzType="link" (click)="openInxcoments(panel)" nzTooltipTitle="指标支撑文字材料上传或修改"
            nzTooltipPlacement="topCenter" nz-tooltip>
            <指标内涵及说明> &nbsp;
          </button>
        </div>
      </div>


      <!-- 佐证材料 -->
      <div *ngIf="panel.isLeaf" nz-row nzGutter="8">
        <div class="steps-comment" [innerHTML]="panel.pf"></div><br>
        <div class="steps-comment" style="border-color: green;">
          <!-- 佐证数据 -->
          <span *ngFor="let c of panel.datatable">
            <button nz-button nzType="primary" nzSize="small" style="border: 0em" (click)="dataBarShow(c)">
              <i nz-icon nzType="table"></i>{{c.dtName}}</button>&nbsp;&nbsp;
          </span>
        </div><br>
        <div class="steps-comment" style="border-color:gray;" [innerHTML]="panel.af"></div>
      </div>
      <ng-template #panelHead>
        <span *ngIf="panel.level === '1'" style="font-weight: bold;font-size: 20px;">{{ panel.name }}</span>
        <span *ngIf="panel.level === '2'" style="font-weight: bold;font-size: 18px;">{{ panel.name }}</span>
        <span *ngIf="panel.level === '3'" style="font-weight: bold;font-size: 17px;">{{ panel.name }}</span>
        <span *ngIf="panel.level === '4'" style="font-weight: bold;font-size: 17px;">{{ panel.name }}</span>
      </ng-template>
      <ng-template #expandedIcon let-active>
        {{ active }}
        <i nz-icon nzType="caret-right" class="ant-collapse-arrow"></i>
      </ng-template>
      <ng-template #extraTpl> </ng-template>
    </nz-collapse-panel>
  </nz-collapse>
</div>
<!-- <div class="footer" (click)="dataPFShow([{x:'A',y:aNum},{x:'B',y:bNum},{x:'C',y:cNum},{x:'D',y:dNum}])"></div> -->
<div class="footer" (click)="dataPFShow()">
  <nz-tag [nzColor]="'blue'" style="height: 1.3em; font-size: 1.2em;font-weight: bold;margin-top: 0.3em;">
    已评分：{{aNum+bNum+cNum+dNum}}个
  </nz-tag>
  <nz-divider nzType="vertical"></nz-divider>
  <nz-tag [nzColor]="'green'" style="height: 1.3em; font-size: 1.2em;font-weight: bold;">A
    ：{{aNum}}个，{{format(aNum/listOfDataPoint.length*100)}} %</nz-tag>&nbsp;
  <nz-tag [nzColor]="'green'" style="height: 1.3em; font-size: 1.2em;font-weight: bold;">B
    ：{{bNum}}个，{{format(bNum/listOfDataPoint.length*100)}} %</nz-tag>&nbsp;
  <nz-tag [nzColor]="'green'" style="height: 1.3em; font-size: 1.2em;font-weight: bold;">C
    ；{{cNum}}个，{{format(cNum/listOfDataPoint.length*100)}} %</nz-tag>&nbsp;
  <nz-tag [nzColor]="'green'" style="height: 1.3em; font-size: 1.2em;font-weight: bold;">D
    ：{{dNum}}个，{{format(dNum/listOfDataPoint.length*100)}} %</nz-tag>
  <nz-divider nzType="vertical"></nz-divider>
  <nz-tag [nzColor]="'red'" style="height: 1.3em; font-size: 1.2em;font-weight: bold;">尚有
    {{listOfDataPoint.length-(aNum+bNum+cNum+dNum)}} 个未评分
  </nz-tag>
</div>
