<div class="modal-header">
  <div class="modal-title">分校数据填报表：<b>【{{ record.dtName }}】</b> </div>
</div>
<div sv-container>
  <div nz-row>
    <div nz-col nzSpan="3"><span style="font-weight: bold;font-size: medium;">数据填写规则:</span></div>
    <div nz-col nzSpan="21">
      <div [innerHTML]="descRules"></div>
    </div>
  </div>
  <nz-divider nzType="horizontal"></nz-divider>
  <div nz-row>
    <div nz-col nzSpan="3"><span style="font-weight: bold;font-size: medium;">数据表头模板:</span></div>
    <div nz-col nzSpan="21">
      <div [innerHTML]="tableHtml"></div>
    </div>
  </div>
  <nz-divider nzType="horizontal"></nz-divider>
  <div nz-row>
    <div nz-col nzSpan="3"><span style="font-weight: bold;font-size: medium;">数据校验规则:</span></div>
    <div nz-col nzSpan="21">
      <div [innerHTML]="checkRules"></div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
