<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <!-- <button (click)="addInfo()" nz-button nzType="primary">新增数据表</button> -->
  </ng-template>
</page-header>
<nz-card>
  <nz-table #nzTable nzSize="middle" nzPageSize="10" [nzData]="listOfData">
    <thead>
      <tr>
        <th nzShowExpand nzwidth="4%" nzAlign="center"></th>
        <th>填报表名称</th>
        <th nzWidth="15%" nzAlign="center">责任部门</th>
        <th nzWidth="13%" nzAlign="center">数据表名称</th>
        <th nzWidth="6%" nzAlign="center">字段数</th>
        <th nzWidth="15%" nzAlign="center">最后修订时间</th>
        <th nzAlign="center" nzWidth="15%">操作</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="nzTable.data">
        <tr>
          <td nzShowExpand [(nzExpand)]="mapOfExpandData[data.id]" nzAlign="center"></td>
          <td>{{ data.dtName }}</td>
          <td nzAlign="center">{{ data.dutyDeptName }}</td>
          <td>{{ data.dtNo }}</td>
          <td nzAlign="center">{{ data.fieldsNum }}</td>
          <td nzAlign="center">{{ data.modTime }}</td>
          <td nzAlign="center">
            <!-- <button nz-button nzSize="small" nzType="primary" (click)="openComponent(data)">
              <i nz-icon nzType="table"></i> 数据样表</button>
            <nz-divider nzType="vertical"></nz-divider> -->
            <button nz-button nzSize="small" nzType="default" (click)="viewInfo(data)">查看</button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzSize="small" nzType="default" (click)="editInfo(data)">修改</button>
            <!-- <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzSize="small" nzType="danger" (click)="deleteConfirm(data.id)">删除</button> -->
          </td>
        </tr>
        <tr [nzExpand]="mapOfExpandData[data.id]">
          <td></td>
          <td colspan="6">最后修改时间：{{ data.modTime }}<br>{{ data.remark }}
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</nz-card>
