<nz-table #editRowTable nzBordered [nzData]="listOfData" nzSize="small" nzHideOnSinglePage="true">
  <thead>
    <tr style="background-color: linen;">
      <th nzWidth="100px" nzAlign="center">年度</th>
      <th nzWidth="160px" nzAlign="center" style="font-weight: bold">非学历特色项目数</th>
      <th nzWidth="160px" nzAlign="center" style="font-weight: bold">特色项目覆盖人数</th>
      <th nzWidth="160px" nzAlign="center" style="font-weight: bold">项目培训时数（小时）</th>
      <th nzWidth="100px" nzAlign="center">Action</th>
    </tr>
  </thead>
  <!-- id,nd,xxdm,xxmc,pxxms,pxfgrs,pxss -->
  <!-- id,年度,学校代码,学校名称,非学历特色项目数,特色项目覆盖人数,项目培训时数（小时） -->
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzAlign="center">
        {{ data.nd }} 年
      </td>

      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else pxxmsInputTpl">
          {{ data.pxxms }}
        </ng-container>
        <ng-template #pxxmsInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.pxxms" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else pxfgrsInputTpl">
          {{ data.pxfgrs }}
        </ng-container>
        <ng-template #pxfgrsInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.pxfgrs" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>
      <td nzAlign="center">
        <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else pxssInputTpl">
          {{ data.pxss }}
        </ng-container>
        <ng-template #pxssInputTpl>
          <nz-input-number [(ngModel)]="editCache[data.id].data.pxss" [nzMin]="0" [nzStep]="1">
          </nz-input-number>
        </ng-template>
      </td>

      <td nzAlign="center">
        <div class="editable-row-operations">
          <ng-container *ngIf="editCache[data.id] && !editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">修改</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">保存</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
